/*** default values ***/
$full__width:100%;
$half__width:50%;
$full_height_window:100vh;
$full__height:100%;
$__half__height:50%;
$left:left;
$right:right;
$center:center;
$block:block;
$inline__block:inline-block;
$inline:inline;
$table:table;
$flex:flex;
$__webkit__flex:-webkit-flex;
$none:none;
$absolute:absolute;
$relative:relative;
$__static:static;
$fixed:fixed;
$unset:unset;
$uppercase:uppercase;
$__lowercase:lowercase;
$capitalize:capitalize;
$inherit:inherit;
$__initial:initial;
$auto:auto;
$normal:normal;
$__margin__auto:0 auto;
$__null:null;
$__bottom:bottom;
$middle:middle;
$__top:top;
$transparent:transparent;
$__no_repeat:no-repeat;
$cover:cover;
$pointer:pointer;
$__not-allowed:not-allowed;
$hidden:hidden;
$__show:show;
$visible:visible;
$both:both;
$ellipsis:ellipsis;
$nowrap:nowrap;
$inline__flex:inline-flex;
$underline:underline;
$collapse: collapse;
$wrap: wrap;

/***** custom values *****/
$grid__padding__left:15px;
$grid__padding__right:15px;
$__container__width:1140px;


/***** Grid Values *****/
$col__1:8.33333333%;
$col__2:16.66666667%;
$col__3:25%;
$col__4:33.33333333%;
$col__5:41.66666667%;
$col__6:50%;
$col__7:58.33333333%;
$col__8:66.66666667%;
$col__9:75%;
$col__10:83.33333333%;
$col__11:91.66666667%;
$col__12:100%;


