@use "../utils/variables";

$primarycolor: #09e5ab;
$primarycolor-hover: #09dca4;
$secondarycolor:#9A9A9A;
$deep__skyblue: #42c0fb;
$blue: #15558d;
$white: #ffffff;
$white__01: #f5f8f9;
$white__02: #EAEAEA;
$white__03: #f6faff;
$white__04: #f4fcff;
$white__05: #F3F8FF;
$white__06: #F7FAFF;
$white__07: #F2F7FF;
$white__08: #f5f5f7;
$white__09: #E6E9F4;
$dark-blue: #2E3842;
$slate-blue: #2d3b48;
$dark-slate-blue: #474648;
$gray: #333333;
$gray__10: #737373;
$dark__gray: #888888;
$mix__gray: #f7f7f7;
$dark-gray: #484848;
$light-gray: #dcdcdc;
$goose-gray: #cccccc;
$light__goose: #dddddd;
$light-goose-gray: #dedfe0;
$light-silver: #f0f0f0;
$black: #000000;
$blac__blue: #515783;
$mix__ash: #ABB0BE;
$ash__water: #E6F4FD;
$smokey-gray: #757575;
$gray__smoke: #a2a1a1;
$light__smokey-gray: #666;
$dark__smokeygray: #727272;
$gray__smokey: #64627C;
$gray__09: #948CA0;
$gray__01: #DCD0FF;
$gray__02: #F5FAFF;
$gray__light__03: #EEF2FF;
$celeste: #0de0fe;
$dark-celeste: #01cae4;
$light__celeste: #0CE0FF;
$sky__light__01: #a9d4ff;
$sky__light__02: #8ec4ff;
$white__celeste: #c2d6f3;
$light-pale-blue: #f8f9fa;
$aqua__blue: #e9f5f7;
$gray__08: #808080;
$light__gray__01: #B4ABCA;
$red: #fb1612;
$dis__red: #e30303;
$ash__red: #DD2D4E;
$green: #28a745;
$light__green: #F3F9FF;
$dull-gold: #f4c150;
$dark__blue: #272b41;
$sky__blue: #20c0f3;
$gray__cloud: #999;
$gray__dark: #4B4B4B;
$dark__gray__cloud: #9f9f9f;
$ash__blue: #00BCD1;
$steel__blue: #1663a6;
$info__blue: #4d72d0;
$info_sky: #1e5c92;
$info__dark: #2264C5;
$granite: #858585;
$ash__granite: #A4A4A4;
$light__granite: #8a8a8a;
$granite__gary: #797979;
$granite__01: #7c7c7c;
$platinum: #f9f9f9;
$light__platinum: #acc9f5;
$jet__gray: #C0C0C0;
$dark__ink: #1860CA;
$sky__ink: #2868C8;
$metallic-silver: #e3e3e3;
$light__metallic: #dfdfdf;
$dark-inkblue: #3474ac;
$ash__white: #F8FBFF;
$ash__sky: #E0F2FF;
$ink__blue: #536CF1;
$info__light: #1db9aa;
$primary__light: #2196f3;
$danger__light: #e63c3c;
$warning__light: #f39c12;
$star__yellow: #FED35D;
$yellow: #FFBD07;
$yellow__01: #ffd152;
$success__light: #26af48;
$purple__light: #c580ff;
$default__light: #283447;
$light__metalic: #e9e9e9;
$metalic__blue: #e2e5e8;
$blue__angel: #cfcfcf;
$Light__blue__angel: #dcddea;
$grapefruit: #d9534f;
$light__grapefruit: #d43f3a;
$mild__grapefruit: #e48784;
$violet__pink: #ff4877;
$dark__pink: #D84153;
$ash__gray: #a0a0a0;
$dark__ash__gray: #555;
$light__white: #fafafa;
$dark__light: #f5f5f5;
$cloud__gray: #eeeeee;
$gray__wolf: #3e3e3e;
$gray__01: #E8EEFF;
$gray__02: #9D9D9D;
$gray__03: #6C6C6C;
$water: #f5f7fc;
$lava__red: #dc3545;
$metalic__gray: #bbb;
$ash__metalic: #F2F2F2;
$bright__gold: #f2b600;
$rose__light: #E74E84;
$rose: #FFAABD;
$rose__01: #FFE0E7;
$water__white: #fcfcfc;
$light__water__white: #f3f3f3;
$light__blue__gray: #f5f5f6;
$baby__blue: #e0e3e4;
$light__columbia__blue: #d2dde9;
$light__battle__gary: #aaa;
$dark__battle__gary: #777;
$royal__blue: #2c80ff;
$zombie__green: #00d285;
$dark__marble__blue: #495463;
$mix__white: #fbfbfb;
$night: #3d3d3d;
$ash__night: #1C1C1C;
$dark__night: #383838;
$dark__cloud: #d4d4d4;
$light__cloud: #e5e5e5;
$lapis__blue: #3a559f;
$dark__lapis: #22396B;
$light__lapis: #0098AE;
$dark__lava__red: #dd4b39;
$dark__beige: #b8b8b8;
$iridium: #676767;
$light__chilli__pepper: #fc6075;
$chilli__red: #ffa69e;
$successcolor: #00e65b;
$light__orange: #FFF1C9;
$light__orange__01: #ffb88e;
$successcolor-hover: #00cc52;
$infocolor: #009efb;
$infocolor-hover: #028ee1;
$warningcolor: #ffbc34;
$warningcolor-hover: #e9ab2e;
$dangercolor: #ff0100;
$dangercolor-hover: #e63333;
$purplecolor: #9368e9;
$purpletext: #7460ee;
$cherry__red: #f06060;
$lime__green: #55ce63;
$aquamarine: #40dda4;
$spring__green: #2ab934;
$dark__ash: #212529;
$dark__candy: #ababab;
$light__candy: #e6e6e6;
$candycolor: #a6a6a6;
$ligt__carbon: #979797;
$cantaloupe: #ff9b44;
$dark__plum__purple: #4E4852;
$plum__gray: #757578;
$turquoise: #0db9f2;
$beige: #dbdbdb;
$light__beige: #e4e4e4;
$light__vampire: #f1f1f1;
$battleship__gray: #959595;
$banner-btn: #1C5B90;
$sky__light: #1C71EF;
$blur__blue: #20D7F2;
$light__blue: #7289DE;
$blue__01: #216EE1;
$blue__02: #2467CA;
$blue__03: #186DB5;
$blue__04: #1B5D92;
$blue__05: #274782;
$blue__06: #204892;
$blue__07: #17418E;
$blue__08: #1b70ee;
$blue__09: #2A85D1;
$blue__10: #2357A6;
$blue__11: #1376CA;
$blue__12: #0f4d84;
$blue__13: #6A5DEE;
$blue__14: #0E82FD;
$blue__15: #0C4F8A;
$sky__02: #13a5e5;
$sky__01: #10DEFD;
$sky__03: #28DAF4;
$sky__white: #E8F6FF;
$sky__lighter: #E5F6FD;
$mist_white: #F2F6F6;
$cyan_blue: #E6F1FF;
$white_tone: #E5E7EB;
$midnight_black: #1F2937;
$bodycolor: #6B7280;
$rock_blue: #4B5563;
$gulf_gray: #9CA3AF;
$nickel_color: #959595;
$grey_100: #A4A4A4;
$grey_200: #E6E6E6;
$grey_300: #F7F7F7;
$grey_400: #F5F5F5;
$grey_500: #ECEBFF;
$blue_shade: #3C4758;
$grey_whitish: #F4F4F4;
$argent_color: #888888;
$charcoal_color: #494949;
$steel_color: #777777;
$pearl_white: #AEAEB2;
$athens_grey: #F3F4F6;
$yellowish_white: #8C97B0;
$green_color: #008F64;
$red_color: #FF3535;
$white_shade: #E4E4E8;
$white_silver: #A9A9A9;
$success_color: #22C550;
$gray_goose: #EDF1F1;
$jet_grey: #484848;
$danger_color: #FF3333;
$mint_chiffon: #DCFCE5;
$cement_white: #FFF6D8;
$dark_yellow: #F3DB00;
$platinum_color:  #E3E4E8;
$grey: #8894AE;
$whisper_color: #E5E5E5;
$blue_color: #2F353C;
$grey_600: #8C8C8C;
$grey_700: #E9EAF6;
$grey_800: #8D8D8D;
$grey_900: #ABABAB;
$orange: #FFBC11;
$link_water: #D1D5DB;
$work__blue: #E0E7FF;
$black_shade: #0A0B0D;
$flash_color: #EFF0F7;
$fog_color: #D9DBE9;
$broken_blue: #3B9CF6;
$tag__blue: rgba(255, 255, 255, 0.2);
$light_white: #EDEDED;
$white_smoke: #F3F3F3;
$grey_white: #F8F8F8;
$honeydew_color: #E2E8F0;
$zinc_color: #27272A;
$royal_blue: #1E3259;
$navey__blue: #15558d;
$caribbean__green: #09dca4;
$caribbean__dark: #09e5ab;
$celeste: #0de0fe;
$dark__celeste: #01cae4;
$celtic_blue: #0071DC;
$alto_color: #D9D9D9;
$basalt_grey: #999999;
$ebony_clay: #28283C;
$grey_dark: #4A4A4A;
$zambesi_grey: #5B5B5B;
$davy_grey: #595959;
$babe_grey: #B9B9B9;
$darkish_grey: #D4D4D4;
$silver_grey: #AAAAAA;
$ghost_white: #F8FBFF;
$cyan_color: #0CE0FF;
$mine_grey: #3F3F3F;

$errigal_white: #F1F1F3;
$quartz_color: #71717A;
$rich_black: #040404;
$trolley_grey: #818181;
$bright_grey: #EFEFEF;
$text_danger: #FF0000;
$pastel_orange: #FFB54A;
$green_shade: #159F46;
$grayish_blue: #E4E6EF;
$light_green: #4CAF50;
$tone_grey: #9E9E9E;
$dimgrey_color: #696969;
$black_mana: #838383;
$emperor_grey: #525252;
$silver_chalice: #ACACAC;
$zambesi_grey: #5B5B5B;
$sonic_silver: #717171;
$chinse_white: #E0E0E0;
$arc_light: #c9e3fe;
$congo_brown: #494545;
$misty_rose: #ffe6e1;
$misty__green: #00CC45;
$dove_grey: #6B6B6B;
$light_grey: #c2c2c2;
$fog_silver: #7C7C7C;
$blue_color1: #1C5B91;
$dark_cyan: #1B5A90;
$lightblue_shade: #4183BB;
$grey_shase: #2B3D51;
$home__12__section__even : #F9FAFB;
$cool_blue :#BEC4D9;
$cherry_grey : #2B3D51;
$lite_dark_grey : #707070;
$blue_color1: #1C5B91;
$greymax: #E7E8E6;
$lite__gray: #F6F7F5;
$laysgreen :#2DD4BF;
$thunderblue: #1E5D8A;
$blue__20 : #0F78E7;
$greymax: #E7E8E6;
$lite_orange : #FFAF14;
$green__blue: #CCFBF1;
$blue_color1: #1C5B91;
$dark_cyan: #1B5A90;
$pattens_blue: #F0F4F6;
$color_warning: #FFAF14;
$blue_shade1: #2369A6;
$white_shade1: #D6EEFF;
$white_shade2: #F9FDFF;
$white_shade3: #E6FCFF;
$white_shade4: #F0F4F7;
$black_shade1: #131218;
$blue_shade2: #3E50AE;
$gold_color: #DDBC5B; 
$grey_color: #666666; 
$sand_color: #FDEEC3; 
$greenish_color: #13C2C2;
$greenish_color1: #13A0CA;
$greenish_color2: #1C5C92;
$greenish_color3: #97F0FF;
$greenish_color4: #0CBCDA;
$greenish_color5: #328CD9;
$home__12__banner__section : #F9F9F9;
$home__12__section__even : #F9FAFB;
$home__12__section__odd : #F3F4F6;
$laysgreen :#2DD4BF;
$sky__04 :#F8FAFC;
$blue__16 :#DBEFFE;
$puregold :#FFC001;
$light-white-grey : #F8FAFC;
$wonder-blue: #BFE0FE;
$blue__17 :#1D7ED8;
$grey_white__01:#94A3B8;
$baby__blue :#EEF6FF;
$laysgreen :#2DD4BF;
$sky__04 :#F8FAFC;
$blue__16 :#DBEFFE;
$light-white-grey : #F8FAFC;
$wonder-blue: #BFE0FE;
$blue__17 :#1D7ED8;
$grey_white__01:#94A3B8;
$laysgreen :#2DD4BF;
$lite_dark_grey : #707070;
$little_skyblue: #E3FBFF;
$ass_grey: #EEEEF3;
$little_grey_blue :#B0D6FF;
$Dark_purple : #4C58A0;
$dark_sandstone :#515151;
$little_assgrey :#A2A2A2;
$dark_brown :#626262;
$lite_shadow: #7D7D7D;


$blue__dark: #002578;
$white__shade: #F1F5F9;
$purple: #D1FFB5;
$violet: #7C3AED;
$violet__dark: #7E22CE;
$yellow__light: #FFD66A;
$blue__light: #20A5FF;
$black__shade: #0F172A;
$blue__ash: #E8F1FF;
$pink__dark: #DB2777;
$teal-200: #99F6E4;
$black__ash: #334155;
$ash__black: #475569;
$cart__red: #E11D48;
$sky__blue__2: #E0F2FE;
$gold__2: #FDCA47;
$gold__3: #FED78A;
$gold__4: #FF8A00;
$blue__18: #004FFF;
$blue__19: #D6F8FF;
$ash__white__2: #FAF5FF;
$light__lime: #F7FEE7;
$black__01: #374151;
$black__02: #131313;
$black__03: #262626;
$black__04: #1A1A1A;
$black__05: #1E293B;
$purple__dark: #4338CA;
$purple__01: #601CA5;
$purple__light__01: #F6EEFF;
$light__red: #FFEDE3;
$dark__orange: #E5440E;
$grey__01: #F5F3FF;
$grey__02: #EDE9FE;
$box__shadow: 0px 7.5px 17.5px 0px rgba(0, 0, 0, 0.05);
$green-700: #158033;
$rose-700: #BE123C;
$indigo-800: #3730A3;
$indigo-500: #6366F1;
$emerald-600: #059669;
$teal: #14B8A6;
$yellow: #EAAB08;
$yellow-50: #FEF8E8;
$purple-600: #9333EA;
$slate-300: #CBD5E1;
$slate-500: #64748B;
$zinc-900:#18181B;
$orange-600: #EA580C;
$orange-50: #FFF7ED;
$blue-400: #60B9FA;
.primary {
	background-color:$primarycolor;
}
$black-50: #000C18;
$blue-01: #EAE9FF;
$green-01: #F1FFDB;
$info-01: #C9F3FF;
$red-01: #FFE5E4;
$pink-01: #FFD9F0;
$success-01: #D8FFDA;
$danger-01: #FFEADF;
$red-100: #FEE2E2;
$red-500: #EF444E;
$amber-500: #F59E0B;
$gray-50: #F9FAFB;
$blue-50: #F9FCFF;
$sky-200: #BAE6FD;
$sky-600: #0284C7;
$sky-700: #0369A1;
$sky-50: #F0F9FF;
$cyan-400: #22D6EE;
$zinc-200: #E4E4E7;
$blue-300: #93D0FD;
$indigo-900: #312E81;
$indigo-600: #4F46E5;
$emerals-500: #10B981;
$fuchsia-200: #F5D0FE;
$fuchsia-600: #C026D3;