@use "sass:color";
// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: "Inter", sans-serif;
$font-awesome: "Fontawesome";
$font-iconsax: 'iconsax';

// Theme Colors Variables
$primary: #0E82FD;
$primary-hover: color.adjust($primary, $lightness: -10%);
$secondary: #822BD4;
$secondary-hover: color.adjust($secondary, $lightness: -10%);
$success: #04BD6C;
$success-hover: color.adjust($success, $lightness: -10%);
$info: #110EFD;
$info-hover: color.adjust($info, $lightness: -10%);
$warning: #FFCA18;
$warning-hover: color.adjust($warning, $lightness: -10%);
$danger: #FF0000;
$danger-hover: color.adjust($danger, $lightness: -10%);
$dark: #000F28;
$light: #E2EDFF;
$white: #FFF;
$black: #000;
$purple: #6938EF;
$pink: #DD2590;
$cyan: #06AED4;
$teal: #0E9384;
$indigo: #3538CD;
$orange: #E04F16;

// Primary
$primary-100: #EAF3FF;
$primary-200: #D4E8FF;
$primary-300: #BFDCFF;
$primary-400: #AAD0FF;
$primary-500: #95C4FF;
$primary-600: #7FB7FF;
$primary-700: #69ABFF;
$primary-800: #519EFF;
$primary-900: #3790FF;

// Secondary
$secondary-100: #F1ECFD;
$secondary-200: #E4D8FA;
$secondary-300: #D7C5F7;
$secondary-400: #CAB1F3;
$secondary-500: #BD9EEF;
$secondary-600: #B18AEA;
$secondary-700: #A576E5;
$secondary-800: #9960E0;
$secondary-900: #8D48DA;

// Success
$success-100: #EDF9F0;
$success-200: #DAF3E1;
$success-300: #C7ECD2;
$success-400: #B4E6C4;
$success-500: #A1DFB5;
$success-600: #8CD9A6;
$success-700: #76D298;
$success-800: #5ECB89;
$success-900: #40C47B;

// Danger
$danger-100: #FFEDE9;
$danger-200: #FFDAD3;
$danger-300: #FFC8BD;
$danger-400: #FFB5A7;
$danger-500: #FFA191;
$danger-600: #FF8D7B;
$danger-700: #FF7765;
$danger-800: #FF5E4D;
$danger-900: #FF4031;

// Warning
$warning-100: #FF4031;
$warning-200: #FFF5DC;
$warning-300: #FFF0CA;
$warning-400: #FFEBB8;
$warning-500: #FFE6A5;
$warning-600: #FFE192;
$warning-700: #FFDB7D;
$warning-800: #FFD665;
$warning-900: #FFD048;

// Info
$info-100: #E3EDFF;
$info-200: #C8DBFF;
$info-300: #ADC9FF;
$info-400: #92B6FF;
$info-500: #78A3FF;
$info-600: #5F8FFF;
$info-700: #4679FF;
$info-800: #2E61FF;
$info-900: #1944FF;

// Light
$light-100: #FCFDFF;
$light-200: #F9FBFF;
$light-300: #F6FAFF;
$light-400: #F3F8FF;
$light-500: #F0F6FF;
$light-600: #EEF4FF;
$light-700: #EBF2FF;
$light-800: #EEF4FF;
$light-900: #E5EFFF;

// Gray
$gray-100: #E3E6EC;
$gray-200: #ACB7C6;
$gray-300: #91A0B3;
$gray-400: #7789A0;
$gray-500: #5E738E;
$gray-600: #465D7C;
$gray-700: #2F486A;
$gray-800: #183458;
$gray-900: #012047;

// Purple
$purple-100: #EDEDFF;
$purple-200: #DCDBFF;
$purple-300: #CBC9FF;
$purple-400: #BBB7FF;
$purple-500: #ABA5FD;
$purple-600: #9C92FB;
$purple-700: #8E7FF9;
$purple-800: #806AF6;
$purple-900: #7454F3;

// Pink
$pink-100: #FFECF4;
$pink-200: #FED9E8;
$pink-300: #FED9E8;
$pink-400: #FAB2D2;
$pink-500: #F79FC6;
$pink-600: #F38BBB;
$pink-700: #EF76B0;
$pink-800: #E960A5;
$pink-900: #E4479B;

// orange
$orange-100: #FFEEE9;
$orange-200: #FEDED4;
$orange-300: #FCCDBE;
$orange-400: #FABDA9;
$orange-500: #F7AC94;
$orange-600: #F49B7E;
$orange-700: #EF8968;
$orange-800: #EB7752;
$orange-900: #E66438;

// teal
$teal-100: #D4ECE9;
$teal-200: #BEE2DE;
$teal-300: #A8D8D3;
$teal-400: #ADD3CC;
$teal-500: #98C9C0;
$teal-600: #83BEB3;
$teal-700: #6DB3A7;
$teal-800: #56A89B;
$teal-900: #3B9E90;

// indigo
$indigo-100: #E7ECFC;
$indigo-200: #D0DAF9;
$indigo-300: #BAC7F5;
$indigo-400: #A4B4F1;
$indigo-500: #8EA2EC;
$indigo-600: #7A8FE7;
$indigo-700: #667BE1;
$indigo-800: #5467DB;
$indigo-900: #4351D4;

// cyan
$cyan-100: #ECF7FB;
$cyan-200: #D9EFF7;
$cyan-300: #C6E7F3;
$cyan-400: #B3DFEF;
$cyan-500: #9FD7EA;
$cyan-600: #8BCFE6;
$cyan-700: #75C7E2;
$cyan-800: #5DBFDD;
$cyan-900: #3FB6D9;


$colors: (
  "purple":     $purple,
  "pink":       $pink,
  "white":      $white,
  "cyan":    $cyan,
  "gray":       $gray-600,
  "gray-dark":  $gray-900
);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
    "light": $light,
    "black": $black,
    "purple": $purple
);

$text-color: $gray-600;
$title-color: $gray-900;
$text-muted: $gray-400;
$body-bg: #fff;
$default-background: #fff;
$form-control-bg: #ffffff;

// Gradient Variables
$primary-transparent: #EEF5FF;
$secondary-transparent: #F8F5FE;
$success-transparent: #F1FAF3;
$warning-transparent: #FFFDF5;
$danger-transparent: #FFE8E8;
$info-transparent: #E9F1FF;
$pink-transparent: #FCEBF5;
$light-transparent: #F9F9F9;
$gray-transparent: #E6E8EE;
$teal-transparent: #E9F5F4;
$purple-transparent: #F2EDFE;
$cyan-transparent: #E9F8FB;
$indigo-transparent: #EDEDFB;
$orange-transparent: #FCEFEA;
$primary-gradient: linear-gradient(90.08deg, #0E82FD 0.09%, #06AED4 70.28%);

// Style Anchor Elements
$link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: color.adjust($link-color, $lightness: -10%);
$link-hover-decoration: null;
$spacer: 1rem;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $gray-transparent;
$default-border: $gray-transparent;
$input-border: $gray-transparent;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 14px 0px rgba(226, 237, 255, 0.25);
$box-shadow-xs: 0px 1px 1px 1px rgba(198, 198, 198, 0.2);
$box-shadow-sm: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
$box-shadow-md: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0px 4px 44px 0px rgba(187, 187, 187, 0.25);
$drop-shadow: 0px 4px 24px 0px rgba(221, 220, 255, 1);
;

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-44: 44px;
$font-size-46: 46px;
$font-size-50: 50px;
$font-size-52: 52px;
$font-size-54: 54px;
$font-size-60: 60px;
$font-size-76: 76px;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;


/*** default values ***/
$full__width:100%;
$half__width:50%;
$full_height_window:100vh;
$full__height:100%;
$__half__height:50%;
$left:left;
$right:right;
$center:center;
$block:block;
$inline__block:inline-block;
$__inline:inline;
$table:table;
$flex:flex;
$__webkit__flex:-webkit-flex;
$none:none;
$absolute:absolute;
$relative:relative;
$static:static;
$fixed:fixed;
$unset:unset;
$uppercase:uppercase;
$lowercase:lowercase;
$capitalize:capitalize;
$inherit:inherit;
$__initial:initial;
$auto:auto;
$normal:normal;
$__margin__auto:0 auto;
$__null:null;
$bottom:bottom;
$middle:middle;
$top:top;
$transparent:transparent;
$__repeat: repeat;
$no_repeat:no-repeat;
$cover:cover;
$pointer:pointer;
$__not-allowed:not-allowed;
$hidden:hidden;
$__show:show;
$visible:visible;
$both:both;
$ellipsis:ellipsis;
$nowrap:nowrap;
$inline__flex:inline-flex;
$underline:underline;
$__column: column;
$__collapse: collapse;
$table__cell:table-cell;
$__column:column;
$space_between:space-between;
$__wrap:wrap;
$__flex__start: flex-start;
$start: start;
$end: end;
$__collapse: collapse;
$__contain: contain; 

// Dark Mode
$darkmode-gray-900: #D8DFEE;
$darkmode-text: #FAFCFF;
$darkmode-text-light:#738399;
$darkmode-light: #1B1B1B;
$darkmode-light-200: #121212;
$darkmode-light-300: #141414;
$darkmode-light-400: #161616;
$darkmode-light-500: #181818;
$darkmode-white: #0D0D0D;

/***** custom values *****/
$grid__padding__left:15px;
$grid__padding__right:15px;
$__container__width:1140px;


/***** Grid Values *****/
$col__1:8.33333333%;
$col__2:16.66666667%;
$col__3:25%;
$col__4:33.33333333%;
$col__5:41.66666667%;
$col__6:50%;
$col__7:58.33333333%;
$col__8:66.66666667%;
$col__9:75%;
$col__10:83.33333333%;
$col__11:91.66666667%;
$col__12:100%;


