@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$__inter__font: 'Inter', sans-serif;


.body-eleven {
    font-size: variables.$font-size-16;
    font-family: typography.$home_ten__font__family;
    @include mixins.respond-below(xl) {
        font-size: variables.$font-size-15;
    }
}
.doctor-search-section {
    &.doctor-search-eleven {
        background: linear-gradient(90deg, #3A8FB5 0%, #229BD5 100%);
        @include mixins.margin-padding(null, 115px 0 80px); 
        background-position: variables.$bottom variables.$center;
        .banner-header {
            p {
                font-size: variables.$font-size-16;
                font-weight: variables.$font-weight-medium;
                color: variables.$white;
                @include mixins.margin-padding(0 0 10px, 0 0 0 30px);
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 27px;
                    height: 2px;
                    background-color: variables.$white;
                }
                @include mixins.respond-below(md) {
                    font-size: variables.$font-size-14;
                }
            }
            h1 {
                font-size: variables.$font-size-44;
                color: variables.$white;
                font-weight: variables.$font-weight-bold;
                @include mixins.margin-padding(0 0 25px, null);
                @include mixins.respond-below(xxl) {
                    font-size: 48px;
                }
                @include mixins.respond-below(lg) {
                    font-size: variables.$font-size-36;
                }
                @include mixins.respond-below(md) {
                    font-size: variables.$font-size-24;
                }
            }
            .btn {
                @extend %display-inline-flex;
            }
            @include mixins.respond-below(lg) {
                @include mixins.margin-padding(0 0 60px, null);
            }
            @include mixins.respond-below(md) {
                @include mixins.margin-padding(0 0 40px, null);
            }
        }
        .search-box-fourteen {
            background: variables.$white;
            box-shadow: 0px 4px 14px 0px #E2EDFF40;
            border-radius: 60px;
            padding: 20px;
            margin-bottom: 40px;
            gap: 10px;
            .form-block {
                justify-content: space-between;
                -webkit-justify-content: space-between;
                -ms-flex-pack: space-between;
                align-items: variables.$center;
                @include mixins.respond-below(md) {
                    flex-direction: column
                }
                .search-input {
                    @include mixins.margin-padding(0 15px 0 0, null);
                    @include mixins.respond-below(md) {
                        width: 100%;
                    }
                    input {
                        min-height: 40px;
                        @include mixins.margin-padding(null, 0);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: variables.$gray-900;
                        font-size: variables.$font-size-16;
                        font-weight: variables.$font-weight-medium;
                        min-height: 25px;
                        height: 25px;
                        &::placeholder {
                            color: variables.$gray-900;
                            font-weight: variables.$font-weight-medium;
                        }
                    }
                    .forms-block {
                        margin-bottom: 0;
                    }
                    label {
                        font-size: variables.$font-size-14;
                        font-weight: variables.$font-weight-medium;
                        color: #374151;
                    }
                }
            }
            .search-btn {
                width: auto;
                @include mixins.margin-padding(0, null);
                @include mixins.respond-below(md) {
                    width: 100%;
                    margin: 0;
                }
                .btn-primary {
                    background: variables.$primary-gradient;
                    border: 1px solid variables.$primary-gradient;
                    -webkit-transition: 0.5s;
                    -ms-transition: 0.5s;
                    transition: 0.5s;
                    padding: 9px 16px;
                    font-size: variables.$font-size-16; 
                    font-weight: variables.$font-weight-normal;
                    @include mixins.respond-below(md) {
                        width: 100%;
                    }
                    &:hover {
                        background: variables.$primary;
                        box-shadow: inset 0 0 0 50px  variables.$primary;
                        -webkit-transition: 0.5s;
                        -ms-transition: 0.5s;
                        transition: 0.5s;
                        border: 1px solid  variables.$primary;
                    }
                }
            }
        }
        .banner-users {
            h6 {
                color: variables.$white;
                font-size: variables.$font-size-16;
                font-weight: variables.$font-weight-medium;
                @include mixins.margin-padding(0 0 15px, null);
                img {
                    @include mixins.margin-padding(0 10px 0 0, null);
                }
                @include mixins.respond-below(md) {
                    font-size: variables.$font-size-14;
                }
            }
            ul {
                @include mixins.margin-padding(0, 0);
                display: flex;
                align-items: center;
                li {
                    display: inline-block;
                    @include mixins.margin-padding(0 0 0 -23px, null);
                    &:first-child {
                        @include mixins.margin-padding(0, null);
                    }
                    img {
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                        border: 4px solid colors.$white;
                        @include mixins.respond-below(md) {
                            width: 50px;
                            height: 50px;
                        }
                        &:hover {
                            position: relative;
                        }
                    }
                }
            }
        }
        .ban-bg {
            .bg-01, .bg-02 {
                @include mixins.respond-below(md) {
                    display: none;
                }
            }
        }
        @include mixins.respond-below(lg) {
            @include mixins.margin-padding(null, 115px 0 50px);
        }
        @include mixins.respond-below(md) {
            @include mixins.margin-padding(null, 115px 0 40px);
        }
        .dr-eye-home-img {
            position: relative;
            bottom: -70px;
        }
    }
}
.ban-bg {
    @include mixins.respond-below(md) {
        display: none;
    }
    img {
        position: variables.$absolute;
        &.bg-01 {
            left: 0;
            top: 0;
            animation: bouncing alternate infinite 2s;
            z-index: -1;
        }
        &.bg-02 {
            right: 0;
            top: 0;
            animation: bounce alternate infinite 2s;
            z-index: -1;
        }
        &.bg-03 {
            right: 10%;
            bottom: 0;
            animation: bounceup alternate infinite 2s;
            @include mixins.respond-below(md) {
                width: 150px;
            }
        }
        &.bg-04 {
            bottom: 17%;
            left: 2%;
            z-index: -1;
            @include mixins.respond-below(xxl) {
                left: 1%;
            }
        }
        &.bg-05 {
            right: 0;
            top: 50%;
            @include mixins.transform(translateY(-50%));
            z-index: -1;
        }
    }
}        
@keyframes bouncing {
    to {
        transform: translateX(5px);
    }
}    
@keyframes bounce {
    to {
        transform: translateX(-5px);
    }
}   
@keyframes bounceup {
    to {
        transform: translateY(-10px);
    }
}
.btn-light-blue {
    background: variables.$primary-gradient;
    color: variables.$white;
    box-shadow: inset 0 0 0 0 colors.$white;
    border-radius: 10px;
    font-weight: variables.$font-weight-medium;
    font-size: variables.$font-size-18;
    @include mixins.margin-padding(null, 13px 24px);
    @include mixins.transition(all 0.7s);
    &:hover {        
        background: variables.$white;
        color: colors.$blue_color1;
        box-shadow: inset 0 60px 0 0 colors.$white;
        @include mixins.transition(all 0.7s);
    }
    @include mixins.respond-below(md) {
        font-size: variables.$font-size-15;
        @include mixins.margin-padding(null, 10px 20px);
    }
}
.sec-heading-eye {
    @include mixins.margin-padding(0 0 50px, null);
    img {
        @include mixins.margin-padding(0 0 15px, null);
    }
    h2 {
        font-size: variables.$font-size-34;
        font-weight: variables.$font-weight-bold;
        color: variables.$cyan;
        @include mixins.margin-padding(0 0 15px, null);
        span {
            color: variables.$gray-900;
        }
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-34;
        }
        @include mixins.respond-below(md) {
            font-size: variables.$font-size-26;
        }
    }
    p {
        font-size: variables.$font-size-16;
        color: variables.$gray-600;
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-14;
        }
    }
    @include mixins.respond-below(lg) {
        margin-bottom: 30px;
    }
}
.special-section {
    position: relative;
    padding: 60px 0;
    @include mixins.respond-below(lg) {
        padding: 40px 0;
    }
}
.special-item {
    @include mixins.margin-padding(0 0 50px, null);
    .special-icon {
        text-align: center;
        @include mixins.margin-padding(0 variables.$auto 15px, null);
        height: 45px;
        a {
            width: 110px;
            height: 110px;
            background-color: variables.$cyan;
            border-radius: 100% 0px;
            transform: rotate(45deg);
            text-align: center;
            @include mixins.margin-padding(-70px 0 variables.$auto, null);
            @extend %inlineflex-align-center;
            i {
                @include mixins.transform(rotate(-45deg));
                color: variables.$white;
                font-size: variables.$font-size-20;
            }
        }
    }
    h6 {
        font-weight: variables.$font-weight-medium;
        font-size: variables.$font-size-18;
        @include mixins.margin-padding(0, null);
        text-align: center;
        color: variables.$gray-900;
        a {
            font-size: variables.$font-size-16;
            font-weight: variables.$font-weight-medium;
            color: variables.$gray-900;            
            &:hover {
                color: variables.$cyan;
            }
        }
    }
}
.owl-them {
    .owl-nav {
        .owl-prev, .owl-next {
            width: 40px;
            height: 40px;
            background: colors.$white !important;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
            @include mixins.position(variables.$absolute, 20%, null, null, null);
            z-index: 1;
            &:hover {
                background: colors.$blue_color1 !important;
                color: variables.$white;
            }
        }
        .owl-prev {
            left: -20px;
            @include mixins.respond-below(lg) {
                left: -10px;
            }
        }
        .owl-next {
            right: -20px;
            @include mixins.respond-below(lg) {
                right: -10px;
            }
        }
    }
}
.owl-them {
    .owl-dots {
        text-align: center;
        .owl-dot {
            @include mixins.margin-padding(0 5px 0 0, null);
            &.active {
                span {
                    background: variables.$cyan;
                }
            }
            span {
                width: 9px;
                height: 9px;
                line-height: 12px;
                margin: 0;
                background: colors.$link_water;
                border-radius: 50%;
                display: variables.$block;
                @include mixins.transition(all 0.4s ease);
            }
        }
    }
}
.center-section {
    position: relative;
    @include mixins.margin-padding(null, 0 0 60px);
    @include mixins.respond-below(lg) {
        @include mixins.margin-padding(null, 0 0 40px);
    }
    @include mixins.respond-below(md) {
        @include mixins.margin-padding(null, 0 0 16px);
    }
}
.center-img {
    position: relative;
    @include mixins.margin-padding(0 20px 0 0, null);
    .center-service {
        @include mixins.position(variables.$absolute, null, 0, 30px, null);
        display: inline-flex;
		display: -webkit-inline-flex;
		align-items:center;
		-webkit-align-items:center;
        background: variables.$white;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
        border-radius: 100px;
        @include mixins.margin-padding(null, 15px);
        text-align: variables.$left;
        span {
            width: 40px;
            height: 40px;
            background: variables.$primary;
            color: variables.$white;
            border-radius: 100px;
            @extend %flex-align-center;
            @include mixins.margin-padding(0 15px 0 0, null);
            flex-shrink: 0;
        }
        h6 {
            font-size: variables.$font-size-16;
            font-weight: variables.$font-weight-medium;
            color: variables.$gray-900;
            @include mixins.margin-padding(0 0 5px, null);
        }
        p {
            @include mixins.margin-padding(0, null);
        }
        @include mixins.respond-below(lg) {
            left: 50%;
            @include mixins.transform(translateX(-50%));
        }
        @include mixins.respond-below(sm) {
            width: 100%;
        }
    }
    @include mixins.respond-below(lg) {
        text-align: center;
        @include mixins.margin-padding(0 0 24px 0, null);
    }
}
.center-info {
    .sec-heading-eye {
        @include mixins.margin-padding(0 0 15px, null);
    }
    p {
        @include mixins.margin-padding(0 0 15px, null);
        &:last-child {
            @include mixins.margin-padding(0 0 15px, null);
        }
    }
}
.care-box {
    text-align: center;
    span {
        width: 110px;
        height: 110px;
        background-color: variables.$cyan;
        border-radius: 80% 0px;
        transform: rotate(45deg);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        img {
            transform: rotate(-45deg);
        }
    }
    h6 {
        font-size: variables.$font-size-16;
        font-weight: variables.$font-weight-medium;
        color: variables.$gray-900;
        @include mixins.margin-padding(0 0 15px, null);
    }
    a {
        font-size: variables.$font-size-14;
        font-weight: variables.$font-weight-medium;
        color: variables.$primary;
        &:hover {
            color: variables.$cyan;
        }
        i {
            @include mixins.margin-padding(0 0 0 5px, null);
            font-size: variables.$font-size-12;
        }
    }
    @include mixins.respond-below(lg) {
        margin-bottom: 24px;
    }
}
.counter-section {
    background: linear-gradient(90deg, #1B5A90 0%, #13A0CA 66.9%, #0CE0FF 106.51%);
    @include mixins.margin-padding(null, 60px 0 56px);
    position: relative;
    @include mixins.respond-below(lg) {
        @include mixins.margin-padding(null, 40px 0 16px);
    }
}
.bg-06 {
    left: 0;
    bottom: 0;
}
.bg-07 {
    right: 0;
    bottom: 0;
}
.count-box {
    @include mixins.margin-padding(0 0 24px, null);
    @extend %flex__center;
    .count-icon {
        width: 80px;
        height: 80px;
        background: variables.$white;
        border-radius: 100px;
        @extend %flex-align-center;
        @include mixins.margin-padding(0 26px 0 0, null);
        flex-shrink: 0;
    }
    h3 {
        font-size: variables.$font-size-38;
        font-weight: variables.$font-weight-bold;
        color: variables.$white;
        @include mixins.margin-padding(0 0 15px, null);
        @include mixins.respond-below(lg) {
            font-size: variables.$font-size-30;
        }
        @include mixins.respond-below(md) {
            font-size: variables.$font-size-24;
        }
    }
    p {
        color: variables.$white;
        @include mixins.margin-padding(0, null);
    }
}
.eyeclinics-section {
    @include mixins.margin-padding(null, 60px 0 56px);
    position: relative;
    @include mixins.respond-below(lg) {
        @include mixins.margin-padding(null, 40px 0 26px);
    }
    @include mixins.respond-below(md) {
        @include mixins.margin-padding(null, 30px 0 16px);
    }
}
.bg-08 {
    left: 0;
    top: 50%;
    @include mixins.transform(translateY(-50%));
}
.our-doctors-card {
    &.eye-doc {
        @include mixins.margin-padding(0 0 24px, 24px);
        box-shadow: 0px 4px 14px 0px #E2EDFF40;
        border-radius: 10px;
        .doctors-header {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 24px;
            img {
                @include mixins.transform(translateZ(0));
                @include mixins.transition(all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms);
                border-radius: 10px;
            }
            &:hover {
                img {
                    @include mixins.transform(scale(1.15));
                }
            }
            .rating-top-img {
                background: variables.$white;
                display: flex;
                align-items: center;
                border-radius: 30px;
                padding: 7px 10px;
                font-size: variables.$font-size-14;
                position: absolute;
                right: 10px;
                top: 25px;
                line-height: normal;
                color: variables.$gray-900;
                i {
                    color: variables.$warning;
                    margin-right: 5px;
                }
            }
        }
        .doctors-body {
            h4 {
                font-weight: variables.$font-weight-semibold;
                @include mixins.margin-padding(0 0 5px, null);
                a {
                    color: variables.$gray-900;
                    font-size: variables.$font-size-16;
                    font-weight: variables.$font-weight-medium;
                    &:hover {
                        color: variables.$cyan;
                    }
                }
            }
            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: variables.$gray-600;
                font-size: variables.$font-size-16;
                margin-bottom: 0;
            }
            h6 {
                font-size: variables.$font-size-14;
                @include mixins.margin-padding(0 0 15px, null);
            }
            .next-arrow {
                a {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: variables.$primary;
                    color: variables.$white;
                    @include mixins.respond-below(md) {
                        width: 40px;
                        height: 40px;
                    }
                    @include mixins.respond-below(sm) {
                        width: 35px;
                        height: 35px;
                    }
                    &:hover {
                        background: variables.$cyan;
                    }
                }
            }
        }
        @include mixins.respond-below(lg) {
            @include mixins.margin-padding(0 0 30px, null);
        }
    }
}
.facilities-section {
    @include mixins.margin-padding(null, 60px 0 56px);
    @include mixins.respond-below(lg) {
        @include mixins.margin-padding(null, 40px 0 16px);
    }
}
.facility-box {
    @include mixins.margin-padding(0 0 24px, null);
    position: relative;
    transition: 0.5s all;
    .facility-img {
        border-radius: 10px;
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    .consult-btn {
        background: variables.$primary;
        border-color: variables.$primary;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: 0.5s all;
        &:hover {
            background: colors.$blue__15;
            border-color: colors.$blue__15;
        }
    }
    &:hover {
        .consult-btn {
            top: 50%;
            opacity: 1;
            transition: 0.5s all;
        } 
    }
}
.our-blog-section {
    &.eye-blog {
        background: linear-gradient(88.66deg, #D6EEFF 1.08%, #F9FDFF 26.56%, #FFFFFF 76.5%, #E6FCFF 98.92%);
        .our-blogs {
            border: 0;
            border-radius: 10px;
            box-shadow: 0px 7.5px 17.5px 0px #0000000D;
            @include mixins.margin-padding(0 0 50px, null);
            .blogs-img {
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                position: relative;
                .blog-inner-img {
                    @include mixins.transform(translateZ(0));
                    @include mixins.transition(all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms);
                    border-radius: 10px 10px 0 0;
                }
                &:hover {
                    .blog-inner-img {
                        @include mixins.transform(scale(1.15));
                    }
                }
                .blogs-overlay {
                    padding: 0;
                    background: transparent;
                    left: 20px;
                    right: unset;
                    top: 20px;
                    bottom: unset;
                    .blog-name {
                        @extend %flex__center;
                        img {
                            height: 40px;
                            width: 40px !important;
                            margin-right: 5px;
                        }
                        div {
                            width: 60%;
                            a {
                                @include mixins.margin-padding(0 0 5px, null);
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                font-size: variables.$font-size-15;
                                font-weight: variables.$font-weight-normal;
                                &:hover {
                                    color: variables.$primary;
                                }
                                a {
                                    color: variables.$gray-900;
                                }
                            }
                            p {
                                font-size: variables.$font-size-13;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                @include mixins.margin-padding(0, null);  
                            }
                        }
                    }
                    .blog-cat {
                        background: #1E5D8A;
                        font-weight: variables.$font-weight-medium;
                        font-size: variables.$font-size-12;
                        @include mixins.margin-padding(null, 5px 10px);
                        color: variables.$white;
                        border-radius: 15px;
                    }
                }
            }
            .blogs-info {      
                border: 0;    
                text-align: center;  
                h4 {
                    @include mixins.margin-padding(0 0 10px, null);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    // overflow: hidden;
                    font-size: variables.$font-size-18;
                    font-weight: variables.$font-weight-semibold;
                    a {
                        color: variables.$gray-900;
                        &:hover {
                            color: variables.$cyan;
                        }
                    }
                }
                p {
                    font-size: variables.$font-size-16;
                    color: colors.$bodycolor;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                .blogs-btn {
                    font-weight: variables.$font-weight-medium;
                    font-size: variables.$font-size-14;
                    color: variables.$gray-600;
                    i {                        
                        @include mixins.margin-padding(0 0 0 5px, null);
                    }
                    &:hover {
                        color: variables.$cyan;
                    }
                }
            }
        }
    }
}
.appointment-section {
    background-color: variables.$cyan;
    position: relative;
    z-index: 0;
    padding-top: 325px;
    @include mixins.respond-below (md) {
        padding-top: 0;
    }
    &::before {
        position: absolute;
        top: -1px;
        left: 0;
        background: url(../../../../public/assets/img/bg/app-bg.jpg) no-repeat center top;
        content: "";
        width: 100%;
        height: 100%;
        top: -1px;
        z-index: -1;
        @include mixins.respond-below (md) {
            background: none;
        }
    }
}
.appointment-form {
    @include mixins.margin-padding(null, 80px 0);
    position: relative;
    @include mixins.respond-below (lg) {
        padding: 40px 0;
    }
}
.vector-right-bg {
    top: -140px;
    right: 0;
    z-index: -1;
    @include mixins.respond-below (lg) {
        display: none;
    }
}
.vector-left-bg {
    top: -140px;
    left: 0;
    z-index: -1;
    @include mixins.respond-below (lg) {
        display: none;
    }
}
.appointment-form {
    .doctor-search-form {
        .forms-block {
            @include mixins.margin-padding(0 0 15px, null);
            .form-custom {
                input, select {
                    background: variables.$cyan-800;
                    box-shadow: none;
                    color: variables.$white;
                    border-radius: 0;
                    min-height: 50px;
                    padding-right: 44px;
                    font-size: variables.$font-size-16;
                    &::placeholder {
                        color: variables.$white;
                    }
                }
                .select2-container {
                    .select2-selection--single {
                        height: 50px;
                        background: variables.$cyan-800;
                        border-color: variables.$cyan-800;
                        display: flex;
                        align-items: center;
                        .select2-selection__rendered {
                            color: variables.$white;
                            .select2-results__option--highlighted[aria-selected] {
                                background: variables.$cyan-800;
                            }
                        }
                        .select2-selection__arrow b {
                            border-color: variables.$white;
                        }
                    }
                }
                .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
                    border-color: variables.$white;
                }
                i {
                    color: variables.$white;
                }
            }
        }
    }
}
.app-btn {
    border-radius: 100px;
    @include mixins.margin-padding(35px 0 0, 11px 26px);
    background: variables.$white;
    color: variables.$gray-900;
}
.faq-eye-section {    
    @include mixins.margin-padding(null, 80px 0);
    position: relative;
    @include mixins.respond-below (lg) {
        padding: 40px 0;
    }
}
.faq-wrap {
    ul {
        display: variables.$block;
        @include mixins.margin-padding(0, 0);
        li {
            list-style: none;
            a {
                background: variables.$cyan-100;
                @include mixins.margin-padding(0 0 15px, 15px);
                @extend %flex__center;
                color: variables.$gray-900;
                font-size: variables.$font-size-18;
                font-weight: variables.$font-weight-semibold;
                span {
                    width: 40px;
                    height: 40px;
                    background: variables.$white;
                    border-radius: 100px;
                    @extend %flex-align-center;
                    @include mixins.margin-padding(0 10px 0 0, null);
                    flex-shrink: 0;
                    color: variables.$gray-900;
                }
                &.active {
                    background: variables.$cyan;
                    color: variables.$white;
                }
            }
        }
    }
}
.faq-content {
    img {
        @include mixins.margin-padding(0 0 29px, null);
    }
    p {
        @include mixins.margin-padding(0 0 15px, null);
        &:last-child {
            @include mixins.margin-padding(0, null);
        }
    }
}
.eye-testimonial-section {
    @include mixins.margin-padding(null, 80px 0);
    position: relative;
    z-index: 1;
    @include mixins.respond-below(lg) {
        padding: 40px 0;
    }
    .sec-bg-img {
        img {
            position: absolute;
            left: 50px;
            top: 200px;
            z-index: -1;
        }
    }
}
.testi-img {
    position: relative;
    @include mixins.margin-padding(43px 0 15px, null);
    img {        
        @include mixins.margin-padding(null, 0 43px 0 0);
    }
    .testi-icon {
        width: 86px;
        height: 86px;
        background: colors.$light__celeste;
        border-radius: 100px;
        @extend %flex-align-center;
        font-size: variables.$font-size-16;
        color: variables.$white;
        @include mixins.position(variables.$absolute, -43px, 0, null, null);
    }
}
.testi-users {
    display: flex;
    display: -webkit-flex;
    align-items:center;
    -webkit-align-items:center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    @include mixins.margin-padding(0 43px 0 0, null);
    ul {
        @include mixins.margin-padding(0, 0);
        li {
            display: inline-block;
            @include mixins.margin-padding(0 0 0 -23px, null);
            &:first-child {
                @include mixins.margin-padding(0, null);
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                border: 2px solid colors.$white;
                @include mixins.respond-below(md) {
                    width: 50px;
                    height: 50px;
                }
            }
            &:hover {
                position: relative;
            }
        }
    }
}
.testimonial-wrap {
    position: relative;
    h4 {
        @include mixins.margin-padding(0 0 30px, null);
        font-weight: typography.$semibold
    }
    p {
        @include mixins.margin-padding(0 0 30px, null);
    }
    .testimonial-user {
        h6 {
            font-size: variables.$font-size-16;
            font-weight: variables.$font-weight-semibold;
            color: colors.$sky-700;
            @include mixins.margin-padding(0 0 5px, null);
        }
        p {
            font-size: variables.$font-size-14;
            @include mixins.margin-padding(0, null);
        }
    }
    &::before {
        content: "";
        background: url('../../../../public/assets/img/icons/test-line.svg') variables.$no-repeat;
        @include mixins.position(variables.$absolute, null, 0, 0, null);
        width: 84px;
        height: 14px;
    }
}
.eye-testislider {
    .testimonial-wrap {
        .testimonial-user {
            h6 {
                color: variables.$cyan;
            }
        }
        &::before {
           display: none;
        }
    }
}
.slide-11 {
    button {
        background: transparent;
        border: 0;
        padding: 0;
        &.owl-next {
            @include mixins.margin-padding(0 0 0 10px, null);
        }
    }
}
.store-section {
    padding: 60px 0;
    position: relative;
    background: variables.$gray-transparent;
    z-index: 1;
    @include mixins.respond-below(lg) {
        padding: 40px 0;
    }
    @include mixins.respond-below(md) {
        padding: 30px 0;
    }
    .sec-bg-img {
        img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
}
.store-tab {
    @include mixins.margin-padding(0 0 35px, null);
    @extend %justify-content-center;
    @include mixins.respond-below (sm) {
        flex-direction: column;
    }
    li {
        display: inline-block;
        @include mixins.margin-padding(0 0 15px 15px, null);
        &:first-child {
            margin-left: 0;
        }
        @include mixins.respond-below (sm) {
            margin-left: 0;
        }
        a {
            @include mixins.margin-padding(null, 10px 15px);
            background: variables.$white;
            border-radius: 100px;
            color: variables.$gray-900;
            display: inline-block;
            &.active, &:hover {
                background: variables.$cyan;
                color: variables.$white;
            }   
            @include mixins.respond-below (sm) {
                width: 100%;
                text-align: center
            }
        }
    }
}
.store-item {
    @include mixins.margin-padding(0 0 50px, 15px);
    background: variables.$white;
    border-radius: 10px;
    .store-img {
        position: relative;
        overflow: hidden;
        @include mixins.margin-padding(0 0 15px, null);
        transition: 0.5s all;
        img {
            @include mixins.transform(translateZ(0));
            @include mixins.transition(all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms);
        }
        .glass-cat {
            background: #0CE0FF;
            color: variables.$white;
            font-size: variables.$font-size-14;
            border-radius: 15px;
            @include mixins.margin-padding(null, 5px 10px);
            @include mixins.position(variables.$absolute, 0, 0, null, null);
        }
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #00000099;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.5s all;
            opacity: 0;
        }
        &:hover {
            img {
                @include mixins.transform(scale(1.1) rotate(0));
            }
            &::after {
               opacity: 1;
                transition: 0.5s all;
            }
            .overlay-top-items {
                top: 50%;
                opacity: 1;
                transition: 0.5s all;
            }
        }
        .overlay-top-items {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            opacity: 0;
            transition: 0.5s all;
            a {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: variables.$white;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    background: variables.$primary;
                    color: variables.$white;
                }
                &.fav-icon {
                    &.selected {
                        background: variables.$primary;
                        color: variables.$white;
                    }
                }
            }
        }
        .store-cat {
            background: variables.$warning;
            color: variables.$white;
            border-radius: 0 15px 15px 0;
            font-size: variables.$font-size-12;
            @include mixins.margin-padding(null, 5px 10px);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .store-content {
        .store-cat {
            background: colors.$dark_cyan;
            display: inline-block;
            color: variables.$white;
            font-size: variables.$font-size-12;
            @include mixins.margin-padding(0 0 5px, 1px 5px);
        }
        h4 {
            font-weight: variables.$font-weight-semibold;
            @include mixins.margin-padding(0 0 5px, null);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            a {
                font-size: variables.$font-size-18;
                font-weight: variables.$font-weight-semibold;
                color: variables.$gray-900;
                &:hover {
                    color: variables.$cyan;
                }
            }
        }
        p {
            @include mixins.margin-padding(0 0 15px, null);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .price-tag {
             display: flex;
            display: -webkit-flex;
            align-items:center;
            -webkit-align-items:center;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            .cart-add {
                background: variables.$primary;
                color: variables.$white;
                border-radius: 15px;
                padding: 5px 10px;
                line-height: normal;
                display: inline-flex;
                font-size: variables.$font-size-14;
                transition: 0.5s all;
                &:hover {
                    background: colors.$sky-600;
                }
            }
            h5 {
                font-size: variables.$font-size-24;
                font-weight: variables.$font-weight-bold;
                @include mixins.margin-padding(0, null);
            }
            .color-selection {
                @include mixins.margin-padding(0, 0);
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 5px;
                    span {
                        i {
                            font-size: variables.$font-size-16;
                            outline: 1px solid colors.$alto_color;
                            outline-offset: 3px;
                            border-radius: 50%;
                        }
                        &.black-glass {
                            color: colors.$black_shade1;
                        }
                        &.blue-glass {
                            color: #4F46E5;  
                        }
                        &.gold-glass {
                            color: #FED78A;
                        }
                        &.grey-glass {
                            color: colors.$grey_color;
                        }
                        &.sand-glass {
                            color: #FECACA;
                        }
                        &.green-glass {
                            color: colors.$greenish_color;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &:hover {
        .cart-add { 
            opacity: 1;
            bottom: 0;
            transition: 0.5s all;
        }
    }
}
.offer-section {
    padding-top: 80px;
    @include mixins.respond-below (lg) {
        padding-top: 63px;
    }
}
.offer-wrap {
    background: radial-gradient(50% 50% at 50% 50%, colors.$greenish_color5 0%, colors.$dark_cyan 100%);
    @include mixins.margin-padding(0, 0 24px);
    position: relative;
    z-index: 1;
    @include mixins.respond-below (lg) {
        @include mixins.margin-padding(0 0 60px 0, 20px 24px !important);
    }
    &.flat-offer {
        background: radial-gradient(50% 50% at 50% 50%, colors.$greenish_color3 0%, colors.$greenish_color4  100%);
        @include mixins.respond-below (lg) {
            margin-bottom: 0;
        }
        .btn {
            background: variables.$dark;
            &:hover {
                color: variables.$gray-900;
            }
        }
    }
    .off-img {
        @include mixins.margin-padding(-45px 0 24px, null);
        @include mixins.respond-below (md) {
            text-align: center;
        }
    }
    .off-info {
        position: relative;
        text-align: center;
        max-width: 210px;
        margin: auto;
        h6 {
            font-size: variables.$font-size-18;
            font-weight: variables.$font-weight-bold;
            color: variables.$white;
            @include mixins.margin-padding(0 0 5px, null);
        }
        p {
            @include mixins.margin-padding(0 0 5px, 0 17px);
            position: relative;
            color: variables.$white;
            display: inline-block;
            &::before {
                content: "";
                background: variables.$white;
                width: 15px;
                height: 1px;
                @include mixins.position(variables.$absolute, 50%, null, null, 0);
                @include mixins.transform(translateY(-50%));
            }
            &::after {
                content: "";
                background: variables.$white;
                width: 15px;
                height: 1px;
                @include mixins.position(variables.$absolute, 50%, 0, null, null);
                @include mixins.transform(translateY(-50%));
            }
        }
        h5 {
            color: variables.$white;
            @include mixins.margin-padding(0 0 15px, null);
            font-size: variables.$font-size-22;
            @include mixins.respond-below (custom1199) {
                font-size: variables.$font-size-18;
            }
        }
        .btn {
            font-size: variables.$font-size-16;
            @include mixins.margin-padding(null, 3px 42px);
            border-radius: 100px;
        }
        &::before, &::after {
            content: "";
            display: variables.$block;
            position: variables.$absolute;
            width: 18px;
            height: 85%;
            border: 1px solid;
            @include mixins.transition(all 0.6s ease);
        }
        &::before {
            bottom: 0;
            left: 0;
            top: 8px;
            border-top-color: variables.$white;
            border-left-color: variables.$white;
            border-bottom-color: variables.$white;
            border-right-color: variables.$transparent;
        }
        &::after {
            bottom: 0;
            right: 0;
            top: 8px;
            border-top-color: variables.$white;
            border-left-color: variables.$transparent;
            border-bottom-color: variables.$white;
            border-right-color: variables.$white;
        }
    }
    .eye-card-bg {
        .bg-bottom {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .bg-top {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}
@include mixins.respond-below(sm) {
.testi-users {
    padding-bottom: 10px;
}
}