@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

.doctor-search-section {
    padding-top: 95px;
    position: variables.$relative;
    background: url(../../../../public/assets/img/banner/doctor-banner-01.jpg);
    background-position: 50% 0;
    background-size: variables.$cover;
    background-repeat: variables.$no-repeat;
    z-index: 1;
    @include mixins.respond-below(lg) {
        padding: 85px 0 50px;
    }
    .doctor-search {
        padding-bottom: 0;
    }
    .banner-header {
        margin-bottom: 20px;
        h2 {
            font-size: typography.$font__size__36;
            font-weight: typography.$bold;
            margin-bottom: 20px;
            span {
                display: block;
                color: variables.$primary;
            }
            @include mixins.respond-below(lg) {
                font-size: typography.$font__size__30;
            }
            @include mixins.respond-below(md) {
                font-size: typography.$font__size__26;
            }
        }
        p {
            font-size: variables.$font-size-16;
            margin-bottom: 0;
        }
    }
    .doctor-search-form {
        select, input {
            border: 1px solid variables.$border-color;
            box-shadow: variables.$box-shadow;
            border-radius: 100px;
            padding-right: 42px;
        }
    }
    .doctor-search {
        .input-box-twelve {
            background: colors.$white;
            border-radius: 90px;
            @extend %flex__center;
            @include mixins.margin-padding(0, 15px 15px 15px 35px);
            @include mixins.respond-below(md) {
                flex-direction: column;
                border-radius: 20px;
                 @include mixins.margin-padding(0, 15px);
            }
            .input-block {
                position: variables.$relative;
                .select2-container--default .select2-selection--single .select2-selection__arrow b {
                    border-width: 0 2px 2px 0;
                    padding: 3px;
                    border-color: rgba(31, 41, 55, 1);
                    transform: rotate(45deg) translateY(-50%);
                    -webkit-transform: rotate(45deg) translateY(-50%);
                    -ms-transform: rotate(45deg) translateY(-50%);
                }
                .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
                    border-width: 2px 0 0 2px;
                }
                .select2-container .select2-selection--single .select2-selection__rendered {
                    padding-left: 0;
                }
                &.search-input {
                    position: relative;
                    .current-loc-icon {
                        @include mixins.position(variables.$absolute, 50%, 12px, null, null);
                        @include mixins.transform(translateY(-50%));
                        margin-top: 0px;
                        color: colors.$gulf_gray;;
                        font-size: variables.$font-size-14;
                        line-height: 0;
                        i {
                            position: variables.$unset;
                            transform: variables.$unset;
                            color: colors.$gulf_gray;;
                            font-size: variables.$font-size-14;
                        }
                    }
                }
                &:first-child {
                    width: 40%;
                    @include mixins.respond-below(md) {
                        width: 100%;
                    }
                    @include mixins.respond-below(sm) {
                        border-right: 0;
                    }
                }
                &:nth-child(2) {
                    width: 50%;
                    .select2-container .select2-selection--single .select2-selection__rendered {
                        padding-left: 0;
                    }
                    @include mixins.respond-below(md) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
                &:last-child {
                    @include mixins.respond-below(md) {
                        width: 100%;
                        a {
                            width: 100%;
                        }
                    }
                }
                .form-control {
                    border: 0;
                    height: 44px;
                    padding: 10px 0 10px;
                    color: colors.$gulf_gray;
                    font-size: variables.$font-size-16;
                }
            }
            select {
                border: 0;
                background: variables.$transparent;
                border-radius: 0;
            }
            .select2-container .select2-selection--single {
                border: 0;
                height: 44px;
                .select2-selection__arrow {
                    display: none;
                }
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                color: variables.$gray-300;
                font-size: variables.$font-size-14;
                line-height: 45px;
            }
            .search-btn-info {
                text-align: center;
                @include mixins.respond-below(sm) {
                    text-align: variables.$center;
                }
                a {
                    display: variables.$inline__block;
                    padding: 9px 15px;
                    font-size: variables.$font-size-16;
                    transition: 0.5s all;
                    min-width: 115px;
                    &:hover {
                        background: variables.$primary;
                        transition: 0.5s all;
                    }
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .dr-img {
        @include mixins.respond-below(lg) {
            display: none;
        }
    }
}
.clinics-section {
    padding: 60px 0 40px;
    background: colors.$white;
    @include mixins.respond-below(lg) {
        padding: 40px 0 20px;
    }
    .clinic-item {
        &:hover {
            .clinics-card {
                .clinics-img {
                    &:after {
                        background: variables.$primary;
                        transition: all 0.5s;
                    }
                }
                .clinic-img { 
                    background: variables.$primary;
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
            .clinics-icon {
                opacity: 1;
                @include mixins.transform(translate(0, -180%));
                i {
                    color: variables.$primary;
                    background: colors.$white;
                }
            }
        }
    }
    .clinics-card {
        position: variables.$relative;
        border-radius: 10px;
        overflow: variables.$hidden;
        .clinics-img {
            position: variables.$relative;
            &:after {
                content: '';
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.51) 100%);
                @include mixins.position(variables.$absolute, 0, 0, 0, 0);
            }
        }
        .clinics-info {
            margin: 0 variables.$auto;
            text-align: variables.$center;
            @include mixins.position(variables.$absolute, 50%, 0, null, 0);
            @include mixins.transform(translateY(-50%));            
            .clinic-img {
                width: 70px;
                height: 70px;
                @include mixins.rounded(10px);
                background: colors.$white;
                margin: 0 auto 15px;
                @extend %flex-align-center;
            }
            img {
                width: auto !important;
                margin: variables.$auto;
            }
            span {
                font-weight: variables.$font-weight-medium;
                font-size: 18px;
                color: colors.$white;
            }
        }
    }
    .clinics-icon {
        opacity: 0;
        @include mixins.transform(translate(0, -50%));
        @include mixins.transition(all .3s ease 0s);
        font-size: variables.$font-size-24;
        i {
            border-radius: 50%;
            height: 38px;
            width: 38px;
            text-align: variables.$center;
            line-height: 38px;
            background: colors.$white;
            color: variables.$primary;
            margin: variables.$auto;
            display: variables.$block;
        }
    }
}
.section-heading {
    margin-bottom: 40px;
    @include mixins.respond-below(md) {
        margin-bottom: 15px;
    }
    h2 {
        font-weight: variables.$font-weight-bold;
        font-size: variables.$font-size-32;
        margin-bottom: 4px;
        @include mixins.respond-below(lg) {
            font-size: typography.$font__size__26;
        }
        @include mixins.respond-below(md) {
            font-size: typography.$font__size__20;
        }
    }
    p {
        font-size: variables.$font-size-16;
        margin-bottom: 0;
    }
    &.bg-area {
        h2 {
            color: colors.$white;
        }
        p {
            color: colors.$white;
        }
    }
}
.specialities-section {
    padding: 60px 0 35px;
    position: variables.$relative;
    background: url(../../../../public/assets/img/bg/speciality-bg-01.png);
    background-position: 50% 0;
    background-size: variables.$cover;
    background-repeat: variables.$no-repeat;
    @include mixins.respond-below(lg) {
        padding: 40px 0 15px;
    }
    &:after {
        content: "";
        background-image: variables.$primary-gradient;
        z-index: -1;
        @include mixins.position(variables.$absolute, 0, 0, 0, 0);
    }
    .specialist-card {
        background: colors.$white;
        box-shadow: 0px 4px 24px rgb(183 183 183 / 25%);
        border-radius: 163px;
        align-items: variables.$center;
        @include mixins.margin-padding(0 0 25px, 15px);
        &:hover {
            .specialist-img {
                img {
                    transition: all 0.5s;
                    @include mixins.transform(rotateY(360deg));
                }
            }
            .specialist-info {
                a, h4 {
                    color: variables.$primary;
                }
            }
            .specialist-nav {
                a {
                    background: variables.$primary;
                    color: colors.$white;
                }
            }
        }
        .specialist-img {
            background: variables.$cyan;
            height: 66px;
            width: 66px;
            border-radius: 50%;
            @include mixins.transition(all .3s ease 0s);
            margin-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .specialist-info {
            p {
                font-weight: variables.$font-weight-medium;
                margin-bottom: 0;
            }
            a {
                color: variables.$gray-900;
            }
            h4 {
                font-weight: variables.$font-weight-semibold;
                font-size: variables.$font-size-20;
                color: variables.$gray-900;
                margin-bottom: 5px;
            }
        }
        .specialist-nav {
            a 
             {
                background: variables.$gray-transparent;
                border-radius: 50%;
                height: 38px;
                width: 38px;
                text-align: variables.$center;
                line-height: 38px;
                color: variables.$gray-900;
                margin: variables.$auto;
                display: variables.$block;
                @include mixins.transition(all .3s ease 0s);
            }
        }
    }
    
}
.shapes {
    position: variables.$absolute;
    width: variables.$full__width;
    @include mixins.respond-below(lg) {
        display: none;
    }
    .shape-1 {
        @include mixins.position(variables.$absolute, 0, null, null, 0);
    }
    .shape-2 {
        @include mixins.position(variables.$absolute, 0, 0, null, null);
    }
    .shape-3 {
        @include mixins.position(variables.$absolute, -110px, null, null, 0);
    }
    .shape-4 {
        @include mixins.position(variables.$absolute, -110px, 0, null, null);
    }
}
.our-doctors-section {
    padding: 60px 0 36px;
    background: colors.$white;
    @include mixins.respond-below(lg) {
        padding: 40px 0 16px;
    }
    .our-doctors-card {
        box-shadow: 0px 7.5px 17.5px 0px #0000000D;
        border-radius: 10px;
        margin-bottom: 24px;
        .doctors-header {
            position: variables.$relative;            
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            img {
                @include mixins.transform(translateZ(0));
                @include mixins.transition(all 2000ms cubic-bezier(.19,1,.22,1) 0ms);
                border-radius: 10px 10px 0 0;
            }
            &:hover img {
                @include mixins.transform(scale(1.15));
            }
            .img-overlay {
                background: variables.$primary;
                border-radius: 30px;
                padding: 5px 14px;
                color: colors.$white;
                font-weight: variables.$font-weight-medium;
                font-size: variables.$font-size-16;
                @include mixins.position(variables.$absolute, 10px, 10px, null, null);
            }
        }
        .doctors-body {
            background: colors.$white;
            border-radius: 0px 0px 10px 10px;
            padding: 24px;
            .rating {
                font-size: variables.$font-size-16;
                margin-bottom: 15px;
                i {
                    color: variables.$gray-transparent;
                    &.filled {
                        color: variables.$warning;
                    }
                }
                .average-ratings {
                    background: variables.$secondary;
                    border-radius: 30px;
                    color: colors.$white;
                    font-size: variables.$font-size-12;
                    padding: 1px 8px;
                    margin-left: 10px;
                    font-weight: variables.$font-weight-medium;
                }
            }
            h4 {
                font-size: variables.$font-size-18;
                font-weight: variables.$font-weight-semibold;
                margin-bottom: 4px;
                &:hover {
                    color: variables.$primary;
                }
            }
            p {
                font-weight: variables.$font-weight-normal;
                margin-bottom: 0;
                font-size: typography.$font__size__12;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .location {
                padding: 24px 0 24px;
                border-bottom: 1px solid variables.$border-color;
                margin-bottom: 24px;
                p {
                    font-size: typography.$font__size__12;
                    i {
                        color: variables.$primary;
                        margin-right: 4px;
                    }
                }
            }
            .btn {
                font-size: variables.$font-size-14;
                padding: 9px 5px;
            }
        }
    }
}
.clinic-features-section {
    position: variables.$relative;
    background: url(../../../../public/assets/img/featured-bg.jpg);
    background-position: 50% 0;
    background-size: variables.$cover;
    background-repeat: variables.$no-repeat;
    padding: 60px 0;
    @include mixins.respond-below(lg) {
        padding: 40px 0;
    }
    .clinic-features {
        position: variables.$relative;        
        overflow: hidden;
        border-radius: 10px;
        img {
            @include mixins.transform(translateZ(0));
            @include mixins.transition(all 2000ms cubic-bezier(.19,1,.22,1) 0ms);
            border-radius: 10px;
        }
        &:hover img {
            @include mixins.transform(scale(1.15));
        }
    }
    .clinic-feature-overlay {
        text-align: variables.$center;
        width: variables.$full__width;
        @include mixins.position(variables.$absolute, null, null, 15px, null);
        .img-overlay {
            background: variables.$primary;
            border-radius: 60px;
            padding: 10px 15px;
            color: colors.$white;
            font-weight: variables.$font-weight-medium;
            min-width: 180px;
            display: variables.$inline__block;
            font-size: variables.$font-size-16;
            &:hover {
                background-color: variables.$primary-hover;
            }
        }
    }
} 
.home-three {
    .slide-nav-4, .slide-nav-3 {
        button.owl-next, button.owl-prev {
            background: variables.$primary;
            &:hover {
                background: variables.$primary-hover;
            }
        }
    }
    .slide-nav-2, .slide-nav-1 {
    button.owl-next, button.owl-prev {
        width: 34px;
        height: 34px;
        background: variables.$primary;
        text-shadow: none;
        top: 4px;
        cursor: variables.$pointer;
        border: 0;
        color: colors.$white;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 8px;
        &:hover {
            background: variables.$primary-hover;
        }
        @include mixins.transform(rotate(-44deg));
        @include mixins.respond-below(md) {
            width: 28px;
            height: 28px;
        }
    }
}
    .our-blog-section .our-blogs {
        box-shadow: variables.$box-shadow;
        border: 1px solid variables.$border-color;
        margin: 0 2px;
        &:hover {
            .blogs-overlay {
                @include mixins.transition(all 0.8s ease);
                .blogs-writter {
                    @include mixins.transition(all 0.8s ease);
                }
            }
        }
        border-radius: 10px;
        .blogs-img {
            overflow: hidden;
            img {
                @include mixins.transform(translateZ(0));
                @include mixins.transition(all 2000ms cubic-bezier(.19,1,.22,1) 0ms);
            }
            &:hover img {
                @include mixins.transform(scale(1.15));
            }
        }
        .blogs-overlay {
            padding: 7px;
            @include mixins.transition(all 0.8s ease);
            .blogs-writter {
                color: variables.$black;
                font-size: typography.$font__size__18;
                font-weight: variables.$font-weight-medium;
                @include mixins.transition(all 0.8s ease);
            }
        }
        .blogs-info {
            padding: 24px;
            border: 0;
            .blog-slug {
                display: block;
                color: variables.$primary;
                font-size: variables.$font-size-16;
                font-weight: variables.$font-weight-medium;
                 margin-bottom: 15px;
            }
            h4 {
                font-size: typography.$font__size__20;
                font-weight: variables.$font-weight-medium;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-bottom: 8px;
                a {
                    &:hover {
                        color: variables.$primary;
                    }
                }
            }
            p {
                font-size: variables.$font-size-16;
                margin-bottom: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .blogs-nav {
                padding: 15px 0 0;
                border-width: 1px 0 0 0;
                border-top: 1px solid variables.$border-color;
                .blogs-time {
                    color: variables.$gray-600 !important;
                    i {
                        margin-right: 5px;
                        color: variables.$gray-900;
                    }
                }
                .blogs-btn {
                    width: auto;
                    padding: 10px 23px;
                }
            }
        }
    }
}