@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";


.banner-wrapper {
    max-width: 800px;
    width: variables.$full__width;
    @include mixins.margin-padding(0 variables.$auto, null);
    @include mixins.respond-below(lg) {
        max-width: 720px;
    }
    .search-box-3 {
        background: colors.$info_sky;
        border-radius: 10px;
        @include mixins.position(variables.$absolute, null, null, null, null);
        @include mixins.margin-padding(-50px 0 0, 40px 20px);
        @include mixins.respond-below(lg) {
            display: none;
        }
        form {
            display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
        }
        .search-location {
            -ms-flex: 0 0 240px;
            flex: 0 0 240px;
            margin-right: 12px;
            position: variables.$relative;
            width: 240px;
            .form-control {
                background: colors.$white url(../../../../public/assets/img/location.png) no-repeat 10px variables.$center;
            }
        }
        .form-group {
            margin-bottom: 0px;
        }
        .form-control {
            border: 1px solid colors.$goose-gray;
            box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%);
            border-radius: 5px;
            padding-left: 35px;
        }
        .search-info {
            -ms-flex: 0 0 490px;
            flex: 0 0 490px;
            margin-right: 12px;
            position: variables.$relative;
            width: 490px;
            .form-control {
                background: colors.$white url(../../../../public/assets/img/search.png) no-repeat 10px variables.$center;
            }
        }
        .form-control {
            background: colors.$white url(../../../../public/assets/img/search.png) no-repeat 10px variables.$center;
        }
        .search-btn {
            width: 46px;
            -ms-flex: 0 0 46px;
            flex: 0 0 46px;
            height: 46px;
            span {
                display: none;
                font-weight: variables.$font-weight-medium;
            }
        }
    }
}
.btn-search {
    background: colors.$white;
    border: 1px solid colors.$white;
    color: colors.$info_sky;
}

.form-custom {
    i {
        color: colors.$ash__red;
        @include mixins.position(variables.$absolute, 35%, 15px, null, null);
    }
}
.doctor-search-form select {
    border: 1px solid rgba(16, 222, 253, 0.1);
    box-shadow: 0px 4px 4px rgb(237 237 237 / 25%);
    border-radius: 5px;
}
.doctor-search-form input {
    border: 1px solid rgba(16, 222, 253, 0.1);
    box-shadow: 0px 4px 4px rgb(237 237 237 / 25%);
    border-radius: 5px;
}
.doctor-search-form {
    input, select {
        background: colors.$white;
        border-radius: 130px;
        min-height: 60px;
        border: 0;
    }
}
