@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

.pricing-section {
	background-color: colors.$white;
    padding: 60px 0 36px;
    @include mixins.respond-below(lg) {
        padding: 40px 0 16px;
    }
}
.pricing-inner-header {
	margin-bottom: 80px;
    @include mixins.respond-below(lg) {
        margin-bottom: 40px;
    }
}
.plan-choose-info {
	@extend %flex-align-center;
	padding-top: 8px;
	label {
		margin-bottom: 0;
	}
	.monthly-plan {
		color: colors.$black_shade;
	}
	.yearly-plan {
		color: colors.$bodycolor;
	}
	.status-toggle, .form-switch {
        margin: 0 16px;
	}
	.checktoggle {
		background-color: variables.$primary;
		border: 1px solid colors.$blue__14;
	}
	.check {
		&:checked {
			& + .checktoggle {
				background-color: colors.$white;
				border: 1px solid colors.$blue__14;
				&:after {
					background-color: variables.$primary;
				}
			}
		}
	}
    .monthly-plan, .yearly-plan {
        font-weight: variables.$font-weight-medium;
        font-size: variables.$font-size-16;
        @include mixins.respond-below(md) {
            font-size: variables.$font-size-16;
        }
    }
}
.pricing-card {
	background: variables.$light-300;
	border: 1px solid variables.$border-color;
	border-radius: 24px;
    @include mixins.transition(0.7s);
	&:hover, &.active {
		background: variables.$primary;
        @include mixins.transition(0.7s);
		.pricing-icon {
			span {
				background: colors.$white;
                @include mixins.transition(0.7s);
                @include mixins.transform(rotate(90deg));
				img {
                    @include mixins.transform(rotate(-90deg));
                    @include mixins.transition(0.7s);
				}
			}
		}
		.pricing-title {
			p {
				color: colors.$flash_color;
                @include mixins.transition(0.7s);
			}
			h4 {
				color: colors.$white;
                @include mixins.transition(0.7s);
			}
		}
		.pricing-header {			
			.badge {
				background: rgba(variables.$white, 0.2);
				color: variables.$white;
			}
		}
		.pricing-header-text {
			p {
				color: colors.$white;
                @include mixins.transition(0.7s);
			}
		}
		.pricing-amount {
			h2 {
				color: colors.$white;
                @include mixins.transition(0.7s);
				span {
					color: colors.$fog_color;
                    @include mixins.transition(0.7s);
				}
			}
			h6 {
				color: colors.$white;
                @include mixins.transition(0.7s);
			}
		}
		.pricing-list {
			ul {
				li {
					color: colors.$white;
                    @include mixins.transition(0.7s);
					&:before {
						color: colors.$white;
                        @include mixins.transition(0.7s);
					}
				}
			}
		}
		.pricing-btn {
			.btn {
				color: variables.$gray-900 !important;
				background: variables.$gray-transparent !important;
			}
		}
	}
	.card-body {
        padding: 30px;
        @include mixins.respond-below(lg) {
            @include mixins.margin-padding(0, 20px);
        }
        @include mixins.respond-below(md) {
            @include mixins.margin-padding(0, 15px);
        }
	}
}
.pricing-card-active {
	background: variables.$primary;
	.pricing-icon {
		span {
			background: colors.$white;
            @include mixins.transition(0.7s);
            @include mixins.transform(rotate(90deg));
			img {
                @include mixins.transform(rotate(-90deg));
                @include mixins.transition(0.7s);
			}
		}
	}
	.pricing-title {
		p {
			color: colors.$flash_color;
            @include mixins.transition(0.7s);
		}
		h4 {
			color: colors.$white;
            @include mixins.transition(0.7s);
		}
	}
	.pricing-tag {
	    margin-left: variables.$auto;
		span {
			background: colors.$tag__blue;
			color: colors.$white;
			font-weight: variables.$font-weight-medium;
			border-radius: 10px;
			padding: 12px 13px;
		}
	}
	.pricing-header-text {
		p {
			color: colors.$white;
            @include mixins.transition(0.7s);
		}
	}
	.pricing-amount {
		h2 {
			color: colors.$white;
            @include mixins.transition(0.7s);
			span {
				color: colors.$fog_color;
                @include mixins.transition(0.7s);
			}
		}
		h6 {
			color: colors.$white;
            @include mixins.transition(0.7s);
		}
	}
	.pricing-list {
		ul {
			li {
				color: colors.$white;
                @include mixins.transition(0.7s);
				&:before {
					color: colors.$white;
                    @include mixins.transition(0.7s);
				}
			}
		}
	}
	.pricing-btn {
		.btn {
			color: colors.$white;
			border: 1px solid colors.$broken_blue;
			box-shadow: inset 0 0 0 50px colors.$broken_blue;
		}
	}
}
.pricing-header {
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	.badge {
		background: rgba(variables.$dark, 0.2);
		@include mixins.rounded(10px);
		padding: 13px 14px;
		color: variables.$gray-900;
		font-size: variables.$font-size-14;
	}
}
.pricing-header-info {
	@extend %flex__center;
	padding-bottom: 8px;
	.badge {
		margin-bottom: 8px;
	}
}
.pricing-icon {
	margin-right: 16px;
	span {
		min-width: 70px;
		height: 70px;
		background: colors.$white;
		border-radius: 16px;
		@extend %flex-align-center;
        @include mixins.transition(0.7s);
        @include mixins.transform(rotate(0));
		img {
            @include mixins.transform(rotate(0));
            @include mixins.transition(0.7s);
			@include mixins.respond-below(md) {
				width: 24px;
			}
		}
		@include mixins.respond-below(md) {
			min-width: 60px;
			height: 60px;
		}
	}
}
.pricing-title {
	p {
		font-size: variables.$font-size-16;
		margin-bottom: 0;
        @include mixins.transition(0.7s);
        @include mixins.respond-below(md) {
            font-size: typography.$font__size__15;
        }
	}
	h4 {
		margin-bottom: 0;
        @include mixins.transition(0.7s);
	}
}
.pricing-header-text {
	p {
		color: colors.$bodycolor;
		margin-bottom: 0;
        @include mixins.transition(0.7s);
	}
}
.pricing-amount {
	padding-bottom: 20px;
	h2 {
		margin-bottom: 20px;
        @include mixins.transition(0.7s);
		span {
			font-weight: variables.$font-weight-normal;
			font-size: variables.$font-size-14;
			color: variables.$gray-300;
            @include mixins.transition(0.7s);
		}
	}
	h6 {
		font-weight: variables.$font-weight-semibold;
		font-size: typography.$font__size__20;
		margin-bottom: 0;
        @include mixins.transition(0.7s);
        @include mixins.respond-below(md) {
            font-size: variables.$font-size-16;
        }
	}
}
.pricing-list {
	padding-bottom: 20px;
	ul {
        @include mixins.margin-padding(0, 0);
		list-style: none;
		li {
			position: variables.$relative;
			font-size: variables.$font-size-16;
			color: variables.$gray-600;
			padding-left: 25px;
			margin-bottom: 14px;
            @include mixins.transition(0.7s);
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
                @include mixins.position(variables.$absolute, 50%, null, null, 0);
                @include mixins.transform(translateY(-50%));
				content: "\f058";
				font-family: variables.$font-awesome;
				font-size: variables.$font-size-16;
				font-weight: 900;
				color: variables.$primary;
				border: 0;
                @include mixins.transition(0.7s);
			}
            @include mixins.respond-below(md) {
                font-size: variables.$font-size-14;
            }
		}
	}
    @include mixins.respond-below(lg) {
        padding-bottom: 30px;
    }
    @include mixins.respond-below(md) {
        padding-bottom: 20px;
    }
}
.pricing-btn {
	text-align: variables.$center;
	.btn {
		font-weight: variables.$font-weight-medium;
		font-size: variables.$font-size-16;
        @include mixins.margin-padding(0, 9px 15px);
		min-width: variables.$full__width;
		display: variables.$inline__block;
		border: 0;
		@include mixins.rounded(44px);
        @include mixins.respond-below(md) {
            @include mixins.margin-padding(0, 8px 15px);
            font-size: variables.$font-size-14;
        }
	}
}

