@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

.content {
    min-height: 200px;
	padding: 60px 0 36px;
	@include mixins.respond-below(lg) {
    	padding: 40px 0 16px;
    }
	h4 {
		font-size: variables.$font-size-18;
		font-weight: variables.$font-weight-medium;
	}
}
.top-space {
	padding-top: 140px;
}
.account-page .content {
	&.top-space {
		padding-top: 140px;
	}
}
.card {
    border: 1px solid variables.$border-color;
	box-shadow: variables.$box-shadow;
    margin-bottom: 24px;
	color: inherit;
	border-radius: 10px;
    .card-header {
    	background-color: variables.$white;    
		border-bottom: 1px solid variables.$border-color;
		@include mixins.respond-below(sm) {
			@include mixins.margin-padding(null, .75rem 1.25rem);
		}
		.card-title {
			font-size: variables.$font-size-24;
			font-weight: variables.$font-weight-medium;
			color: variables.$gray-900;
		    margin-bottom: 0;
		}
	}
}
.card-body {
	padding: 20px;
}
.card-title {
    margin-bottom: 15px;
}
.card-header {
	border-bottom: 1px solid variables.$border-color;
	@include mixins.margin-padding(null, 1rem 1.5rem);
	@include mixins.respond-below(sm) {
		@include mixins.margin-padding(null, .75rem 1.25rem);
	}
}
.card-footer {
	background-color: colors.$white;
	border-top: 1px solid variables.$border-color;
	@include mixins.margin-padding(null, 1rem 1.5rem);
	@include mixins.respond-below(sm) {
		@include mixins.margin-padding(null, .75rem 1.25rem);
	}
}
.custom-modal {
	.modal-content {
    	border: 0;
    	@include mixins.rounded(10px);
    	.modal-header {
		    @include mixins.margin-padding(null, 1.25rem);
		    .modal-title {
			    font-size: typography.$font__size__20;
				@include mixins.respond-below(sm) {
					font-size: typography.$font__size__18;
				}
			}
		}
    }
    .close {
	    background-color: colors.$ash__gray;
	    color: colors.$white;
	    font-size:  typography.$font__size__17;
	    height: 20px;
	    line-height: 20px;
	    opacity: 1;
	    width: 20px;
	    z-index: 99;
	    @include mixins.rounded(50%);
	    @include mixins.margin-padding(0, 0);
	    @include mixins.position(variables.$absolute, 26px, 20px, null, null);
	}
	.modal-body {
	    @include mixins.margin-padding(null, 1.25rem);
	}
	.modal-footer {
		padding: 1.25rem;
		.btn-outline {
			margin: .25rem variables.$auto;
		}
	}
}
.custom-medicalrecord-modal {
	.modal-content {
		.modal-header {
			border-color: colors.$light__cloud;
			@include mixins.margin-padding(1.5rem 1.5rem 0 1.5rem, 0 0 1rem);
		}
		.form-control, .bootstrap-tagsinput {
			background-color: colors.$white__08;
			border-color: colors.$white__08;
		}
		.select2-container {
			.select2-selection--single {
				background-color: colors.$white__08;
				border-color: colors.$white__08;
			}
		}
		.upload-medical-records {
			position: variables.$relative;
			input[type="file"] {
				width: variables.$full__width;
				height: variables.$full__height;
				opacity: 0;
				cursor: variables.$pointer;
				@include mixins.position(variables.$absolute, 0, 0, 0, 0);
			}
			.dropzone {
				min-height: 180px;
				@extend %flex-align-center;
				@extend %flex-wrap;
				h5 {
					color: colors.$granite__01;
					margin-bottom: 3px;
				}
				h6 {
					color: colors.$granite__01;
					margin-bottom: 3px;
					span {
						text-decoration: variables.$underline;
					}
				}
			}
		}
	}
}