@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

.form-focus {
	height: 50px;
	position: variables.$relative;
	.focus-label {
		font-size: variables.$font-size-14;
		font-weight: typography.$regular;
		pointer-events: none;
		@include mixins.transform(translate3d(0, 22px, 0) scale(1));
		@include mixins.transform-origin(left top);
		@include mixins.transition(240ms);
		z-index: 1;
		color: colors.$dark__beige;
		margin-bottom: 0;
		@include mixins.position(variables.$absolute, -8px, null, null, 12px);
	}
	&.focused {
		.focus-label {
			opacity: 1;
			top: -18px;
			font-size: typography.$font__size__12;
			z-index: 1;
		}
		.form-control {
			&::-webkit-input-placeholder {
				color: colors.$metalic__gray;
			}
		}
	}
	.form-control {
		height: 50px;
		@include mixins.margin-padding(null, 21px 12px 6px);
		&:focus ~ .focus-label, &:-webkit-autofill ~ .focus-label {
			opacity: 1;
			font-weight: 400;
			top: -18px;
			font-size: typography.$font__size__12;
			z-index: 1;
		}
		&::-webkit-input-placeholder {
			color: variables.$transparent;
			@include mixins.transition(240ms);
		}
		&:focus::-webkit-input-placeholder {
			transition: none;
		}
	}
	&.select-focus {
		.focus-label {
			opacity: 1;
			font-weight: typography.$light;
			top: -20px;
			font-size: typography.$font__size__12;
			z-index: 1;
		}
	}
	.select2-container {
		.select2-selection--single {
			border: 1px solid colors.$metallic-silver;
			height: 50px;
			.select2-selection__rendered {
				padding-right: 30px;
				padding-left: 15px;
			}
		}
	}
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__arrow {
				height: 48px;
				right: 7px;
				b {
					border-color: colors.$goose-gray variables.$transparent variables.$transparent;
					border-style: solid;
					border-width: 6px 6px 0;
					height: 0;
					margin-left: -10px;
					margin-top: -2px;
					width: 0;
					@include mixins.position(variables.$absolute, 50%, null, null, 50%);
				}
			}
			.select2-selection__rendered {
				color: colors.$iridium;
				font-size: variables.$font-size-14;
				font-weight: variables.$font-weight-normal;
				line-height: 38px;
			}
		}
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow {
					b {
						border-color: variables.$transparent variables.$transparent colors.$metallic-silver;
						border-width: 0 6px 6px;
					}
				}
			}
		}
		.select2-results__option--highlighted[aria-selected] {
			background-color: colors.$light__chilli__pepper;
		}
	}
}
