@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";



.footer {
    &.footer-fifteen {
        position: variables.$relative;
        @include mixins.margin-padding(null, 52px 0 0 0);
        background-color: colors.$white;
        background-image: url(../../../../public/assets/img/footer-fift-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .footer-top-fifteen {
            padding: 0 0 20px;
            .join-news-row {
                padding-bottom: 20px;
                border-bottom: 1px solid variables.$border-color;
                margin-bottom: 40px;
            }
            .join-news-foot {
                margin-bottom: 20px;
                h4 {
                    font-size: typography.$font__size__24;
                    font-weight: variables.$font-weight-bold;
                    margin-bottom: 5px;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .form-set {
                margin-bottom: 20px;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    input {
                        border: 1px solid variables.$border-color;
                        border-radius: 10px;
                        background: transparent;
                        color: variables.$gray-900;
                        height: 42px;
                        &::placeholder {
                            color: variables.$gray-900;
                        }
                    }
                    button {
                        padding: 10px 16px;
                        margin-left: 10px;
                        font-size: variables.$font-size-16;
                        flex: none;
                    }
                }
            }
            .footer-widget {
                margin-bottom: 20px;
                .footer-logo {
                    margin-bottom: 16px;
                }
                p {
                    color: variables.$gray-900;
                    font-size: variables.$font-size-14;
                    margin-bottom: 40px;
                }
                .social-links {
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            margin-right: 8px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: variables.$light;
                                color: variables.$primary;
                            }
                        }
                    }
                }
                .footer-title {
                    margin-bottom: 20px;
                    h4 {
                        color: colors.$black;
                        font-size: typography.$font__size__18; 
                        font-weight: variables.$font-weight-medium;
                        margin-bottom: 0; 
                    }
                }
                ul {
                    &.link-foot {
                        li {
                            font-size: variables.$font-size-16;
                            @include mixins.respond-below(xl) {
                                font-size: variables.$font-size-14;
                            }
                            a {
                                color: variables.$gray-600;
                                font-size: variables.$font-size-16;
                                @include mixins.respond-below(xl) {
                                    font-size: variables.$font-size-14;
                                }
                                &:hover {
                                    color: variables.$primary;
                                }
                            }
                            & +li {
                                margin-top: 8px;
                            }
                            span {
                                margin-right: 16px;
                                i {
                                    color: colors.$black;
                                }
                            }
                        }
                        &.address {
                            li {
                                display: flex;
                                align-items: baseline;
                                & +li {
                                    margin-top: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            background: colors.$white;
            .bottom-items {
                border-top: 1px solid variables.$border-color;
                padding-top: 15px;
                padding-bottom: 15px;
                .copy-right {
                    p {
                        font-size: variables.$font-size-14;
                        color: variables.$gray-600;
                        margin-bottom: 0;
                        @include mixins.respond-below(md) {
                            text-align: center;
                            margin-bottom: 20px;
                        }
                    }
                }
                .terms-con {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        @include mixins.respond-below(md) {
                            justify-content: center;
                        }
                        li {
                            & +li {
                                a {
                                    border-left: 1px solid variables.$gray-600;
                                    margin-left: 10px;
                                    padding-left: 10px;
                                }
                            }
                            a {
                                font-size: variables.$font-size-14;
                                color: variables.$gray-600;  
                                &:hover {
                                    color: variables.$primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}