@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

.footer-one {
    background: colors.$mist_white;
    .footer-top {
        background: variables.$light-300;
        @include mixins.margin-padding(0, 50px 0);
        @include mixins.respond-below(lg) {  
            @include mixins.margin-padding(0, 40px 0 10px);
        }
        @include mixins.respond-below(md) {  
            @include mixins.margin-padding(0, 40px 0 0);
        }
        .footer-widget {
            .footer-logo {
                margin-bottom: 20px;
            }
            .footer-about-content {
                max-width: 272px;
                p {
                    margin-bottom: 0;
                    font-size: variables.$font-size-14;
                    color: variables.$gray-900;
                }
            }
            &.footer-menu {
                ul {
                    list-style: none;
                    @include mixins.margin-padding(0, 0);
                }
            }
            .footer-title {
                font-size: variables.$font-size-18;
                font-weight: variables.$font-weight-semibold;
                color: variables.$gray-900;
                margin-bottom: 20px;
            }
            @include mixins.respond-below(lg) {  
                margin-bottom: 30px;
            }
            @include mixins.respond-below(md) {  
                margin-bottom: 25px;
            }
            &.footer-menu {
                ul {
                    li {
                        margin-bottom: 16px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            color: variables.$gray-600;
                            position: relative;
                            overflow: visible;
                            background: url(../../../../public/assets/img/footer-arrow.png) no-repeat -10px;
                            @extend %flex__center;
                            @include mixins.transition(all 0.5s ease-in-out);
                            padding-left: 0;
                            font-size: variables.$font-size-14;
                            &:hover {
                                color: variables.$primary;
                                background: url(../../../../public/assets/img/footer-arrow.png) no-repeat 4px;
                                padding-left: 20px;
                                @include mixins.transition(all 0.5s ease-in-out);
                            }
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
            .footer-contact-info {
                .footer-address {
                    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
                    margin-bottom: 16px;
                        p {
                            margin-bottom: 0;
                            color: variables.$gray-600;
                            @extend %flex-align-center;
                            font-size: variables.$font-size-14;
                        i {
                            font-size: variables.$font-size-16;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        background: variables.$light;
        .copyright {            
            border-top: 0;
            @include mixins.margin-padding(0, 15px 0);
            .copyright-text {
                p {
                    font-size: variables.$font-size-14;
                    color: variables.$gray-900;
                }
            }
            .policy-menu {
                @include mixins.margin-padding(0, 0);
                list-style: none;
                text-align: right;
                li {
                    display: inline-block;
                    margin-right: 25px;
                    color: variables.$gray-900;
                    font-weight: variables.$font-weight-normal;
                    @include mixins.respond-below(md) {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 8px;
                        text-align: center;
                        margin-top: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    &::after {
                        font-size: variables.$font-size-15;
                        color: variables.$gray-600;
                        content: "|";
                        font-weight: variables.$font-weight-medium;
                        position: relative;
                        left: 15px;
                        @include mixins.respond-below(md) {
                            display: none;
                        }
                    }
                    &:last-child {
                        &::after {
                            content: "";
                        }
                    }
                    a {
                        color: variables.$gray-600;
                        &:hover {
                            color: variables.$primary;
                        }
                    }
                }
            }
        }
    }
}
.subscribe-form {
    position: relative;
    margin-bottom: 15px;
    .form-control {
        font-weight: variables.$font-weight-medium;
        font-size: variables.$font-size-15;
        min-height: 46px;
        color: variables.$gray-600;
        background: variables.$white;
        border: 1px solid variables.$border-color;
        border-radius: 10px 0px 0px 10px;
        @include mixins.margin-padding(0, 6px 112px 6px 15px);
        @include mixins.respond-below(lg) { 
            padding-right: 180px;
        }
        @include mixins.respond-below(md) { 
            min-height: 46px;
            padding-right: 145px;
        }
        &::placeholder {
            font-weight: variables.$font-weight-medium;
            font-size: variables.$font-size-15;
            color: variables.$gray-600;
        }
    }
    .btn {
        font-weight: variables.$font-weight-normal;
        @include mixins.margin-padding(0, 11px 14px);
        font-size: variables.$font-size-15;
        font-weight: variables.$font-weight-semibold;
        border-radius: 0 6px 6px 0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: variables.$white;
        background: variables.$primary;
        border: 1px solid variables.$primary;
        box-shadow: inset 0 0 0 0 variables.$white;
        &:hover {
            border-color: variables.$dark;
            background: variables.$dark;
            box-shadow: inset 0 0 0 50px variables.$dark;
            @include mixins.transition(0.5s);
        }
        @include mixins.respond-below(md) { 
            font-size: variables.$font-size-14;
        }
    }
}
.subscribe-content {
    p {
        max-width: 360px;
        margin-bottom: 0;
        font-size: variables.$font-size-14;
        color: colors.$bodycolor;
    }
}
.footer-two {
    background-color: colors.$navey__blue;
    .footer-top {
        padding: 40px 0;
        @include mixins.respond-below(lg) {
            padding-bottom: 10px;
        }
        .footer-title {
            color: variables.$white;
            font-size: variables.$font-size-20;
            font-weight: variables.$font-weight-bold;
            @include mixins.margin-padding(0 0 30px, null);
            text-transform: capitalize;
            @include mixins.respond-below(md) {
                font-size: variables.$font-size-18;
            }
            @include mixins.respond-below(sm) {
                font-size: variables.$font-size-18;
            }
        }
        .footer-widget {
            @include mixins.respond-below(lg) {
                margin-bottom: 30px;
            }
            &.footer-menu {
                ul {
                    list-style: none;
                    outline: none;
                    @include mixins.margin-padding(0,0);
                    li {
                        margin-bottom: 10px;
                        position: relative;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            color: variables.$white;
                            font-size: variables.$font-size-15;
                            padding-left: 20px;
                            position: relative;
                            @include mixins.transition(all 0.4s ease 0s);
                            &:hover {
                                color: variables.$white;
                                letter-spacing: 0.5px;
                                padding-left: 30px;
                            }
                            &::before {
                                content: "\f101";
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                margin-right: 5px;
                                @include mixins.position(variables.$absolute, 0, null, null, 0);
                            }
                        }
                    }
                }
            }
            .footer-logo {
                @include mixins.margin-padding(0 0 30px, null);
            }
            .footer-about-content {
                max-width: variables.$inherit;
                 p {
                    color: variables.$white;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .social-icon ul {
                    list-style: none;
                    @extend %display-inline-flex;
                    @include mixins.margin-padding(0,0);
                    li {
                        margin-right: 15px;
                        &:last-child {
                            margin-right: 0;
                        }
                        a { 
                            color: variables.$white;
                            @extend %display-inline-flex;
                            font-size: variables.$font-size-20;
                            @include mixins.transition(all 0.4s ease 0s);
                            &:hover {
                                color: colors.$caribbean__dark;
                            }
                        }
                    }
                }
            }
            .footer-contact-info {
                color: variables.$white;
                font-size: variables.$font-size-15;
                .footer-address {
                    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
                    span {
                        margin-right: 20px;
                        i.fa-map-marker-alt {
                            font-size: variables.$font-size-20;
                        }
                    }
                    p {
                        @include mixins.margin-padding(0, null);
                    }
                }
                p {
                    i {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .footer-bottom {
        .copyright {
            border-top: 1px solid colors.$steel__blue;
            @include mixins.margin-padding(null, 30px 0);
            .copyright-text {
                p {
                    color: variables.$white;
                    font-size: variables.$font-size-15;
                    a {
                        color: colors.$primarycolor;
                        @include mixins.transition(all 0.4s ease 0s);
                        &:hover {
                            color: variables.$white;
                        }
                    }
                    &.title {
                        font-weight: typography.$regular;
                        @include mixins.margin-padding(10px 0 0, null);
                    }
                }   
            }
            .policy-menu {
                font-size: variables.$font-size-14;
                text-align: right;
                @include mixins.margin-padding(0,0);
                @include mixins.respond-below(md) {
                    margin-top: 10px;
                    text-align: variables.$left;
                }
                li {
                    display: inline-block;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        color: variables.$white;
                        &:hover, &:focus {
                            color: colors.$caribbean__dark;
                        }
                    }
                    &::after {
                        color: variables.$white;
                        content: "|";
                        font-weight: typography.$light;
                        @include mixins.position(variables.$relative, null, null, null, 10px);
                    }
                    &:last-child::after {
                        content: "";
                    }
                }
            }
        }       
    } 
}
.footer.footer-three {
    background-image: variables.$primary-gradient;
    .footer-top .footer-widget {
        &.footer-menu ul li a {
            padding-left: 0;
            font-size: variables.$font-size-16;
            &::before {
                content: none;
            }
            &:hover {
                color: variables.$white;
                padding-left: 0;
                &::before {
                    content: none;
                }
            }
        }
        .footer-logo {
            @include mixins.margin-padding(0 0 15px, null);
        }
        .footer-about-content .social-icon ul li a {
            color: variables.$primary;
            font-size: variables.$font-size-16;
            &:hover {
                background: variables.$dark;
                border-color: variables.$dark;
                color: variables.$white;
            }
        }
    }
    .footer-top {
        @include mixins.margin-padding(0, 40px 0);
        @include mixins.respond-below(lg) {
            padding-bottom: 10px;
        }
        .footer-widget {
            .footer-title {
                color: variables.$white;
                font-weight: variables.$font-weight-semibold;
                margin-bottom: 15px;
            }
            .footer-about-content {
                p {
                    font-size: variables.$font-size-14;
                    color: variables.$white;
                    margin-bottom: 24px;
                }
            }
            @include mixins.respond-below(lg) {
                margin-bottom: 30px;
            }
        }
        .footer-contact-info {
            .footer-address {
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .footer-menu {
        ul {
            li {
                @include mixins.margin-padding(0 0 10px, null);
                a {
                    color: colors.$black;
                    font-size: variables.$font-size-16;
                    background: none;
                    &::before {
                        content: none;
                    }
                    &:hover {
                        background: none;
                        padding-left: 0;
                    }
                    @include mixins.respond-below(xl) { 
                        font-size: variables.$font-size-15;
                    }
                    @include mixins.respond-below(md) { 
                        font-size: variables.$font-size-14;
                    }
                }
            }
        }
    }
    .footer-link {
        margin-bottom: 20px !important;
    }
    .social-icon {
        ul {
            list-style: none;
            @include mixins.margin-padding(0, 0);
            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    width: 36px;
                    height: 36px;
                    color: colors.$blue__dark;
                    background: variables.$white;
                    border: 1px solid variables.$white;
                    border-radius: 50%;
                    @extend %flex-align-center;
                    font-size: variables.$font-size-16;
                    @include mixins.transition(all 0.4s ease 0s);
                    &:hover {
                        background: variables.$primary;
                        color: variables.$white;
                    }
                    @include mixins.respond-below(xl) { 
                        width: 30px;
                        height: 30px;
                        font-size: variables.$font-size-14;
                    }
                }
            }
        }
    }
    .footer-bottom {
        .copyright {
            border-top: 1px solid variables.$white;
            @include mixins.margin-padding(null, 15px 0);
            .copyright-menu {
                p {
                    color: colors.$black;
                    @include mixins.margin-padding(0, null);
                }               
                @include mixins.respond-below(lg) { 
                    @include mixins.margin-padding(0 0 15px, null);
                }
            }
            .footer-language {
                display: flex;
                display: -webkit-flex;
                align-items:center;
                -webkit-align-items:center;
                justify-content: space-between;
                -webkit-justify-content: space-between;
                & > img {           
                    @include mixins.respond-below(md) { 
                        @include mixins.margin-padding(0 0 15px, null);
                    }   
                }
                .footer-select {
                    width: 164px;
                    position: relative;
                    .select-icon {
                        @include mixins.position(variables.$absolute, 55%, null, null, 14px);
                        @include mixins.transform(translateY(-50%));
                        z-index: 9;
                        color: colors.$basalt_grey;
                    }
                    .select2-container .select2-selection--single {
                        border: 1px solid colors.$alto_color;
                        border-radius: 100px;
                        .select2-selection__rendered {
                            padding-left: 30px;
                        }
                    }
                    .select2-container--default .select2-selection--single .select2-selection__rendered {
                        color: colors.$basalt_grey;
                        font-weight: variables.$font-weight-medium;
                    }
                }               
                @include mixins.respond-below(md) { 
                    display: block;
                }   
            }
        }
    }
}
.footer-one {
	.social-icon ul {
		list-style: none;
		@extend %display-inline-flex;
		@include mixins.margin-padding(0,0);
		li {
			margin-right: 8px;
			&:last-child {
				margin-right: 0;
			}
			a {	
                width: 32px;
                height: 32px;
                border-radius: 50%;
				color: variables.$gray-600;
                background: variables.$light;
				@extend %flex-align-center;
				font-size: variables.$font-size-20;
				@include mixins.transition(all 0.4s ease 0s);
				&:hover {
					background: variables.$dark;
                    color: variables.$white;
				}
			}
		}
	}
}
