@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";


.header {
    &.header-fourteen {
        &.header-twelve {
            &.header-thirteen {
                background-color: variables.$white;
                position: relative;
                &.pharmacy-header {
                    position: fixed;
                }
                .header-nav {
                    @include mixins.respond-below(xl) {
                        justify-content: space-between;
                        -webkit-justify-content: space-between;
                    }
                    .main-menu-wrapper {
                        .main-nav {
                            .has-submenu {
                                @include mixins.respond-below(xl) {
                                    margin-right: 10px;
                                }
                                a {
                                    color: variables.$gray-900;
                                     @include mixins.respond-below(lg) {
                                        color: variables.$white;
                                    }
                                }
                                .submenu {
                                    a {
                                        color: variables.$gray-900;
                                        @include mixins.respond-below(lg) {
                                            color: variables.$white;
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: variables.$primary;
                                        font-weight: variables.$font-weight-medium;
                                    }
                                    .submenu {
                                        a {
                                            color: variables.$gray-900;
                                            font-weight: variables.$font-weight-medium;
                                            &.active {
                                                color: variables.$primary;
                                                font-weight: variables.$font-weight-medium;
                                                
                                           }
                                        }
                                       
                                        a {
                                            color: variables.$gray-900;  
                                            @include mixins.respond-below(lg) {
                                                color: variables.$white;
                                            }
                                        }
                                    }
                                }
                            }
                            & > li {                                
                                &.searchbar-fourteen {
                                    a {
                                        background: variables.$white;
                                        border: 1px solid variables.$white;
                                    }
                                    @include mixins.respond-below(xxl) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .header-navbar-rht {
                        li {
                            &.flag-nav {
                                padding-right: 24px;
                                @include mixins.respond-below(xxl) {
                                    padding-right: 10px;
                                }
                                .select2-container--default {
                                    min-width: 115px;
                                    .select2-selection--single {
                                        height: 36px;
                                        background: variables.$gray-transparent;
                                        border-color: variables.$gray-transparent;
                                        border-radius: 5px;
                                        .select2-selection__rendered {
                                            color: variables.$gray-900;
                                            font-size: variables.$font-size-14;
                                            font-weight: variables.$font-weight-medium;
                                            line-height: 36px;
                                            padding-left: 10px;
                                            padding-right: 24px;
                                        }
                                    }
                                    .select2-selection__arrow {
                                        height: 36px;
                                        right: 2px;
                                    }
                                    .flag-img {
                                        margin-right: 5px;
                                    }
                                }
                                @include mixins.respond-below(xl) {
                                    display: none;
                                }
                            }
                            &.login-in {
                                .btn {
                                    font-size: variables.$font-size-14;
                                    padding: 9px 13px;
                                    transition:all 0.7s ;
                                    display: flex;
                                    align-items: center;    
                                    i {
                                        margin-right: 8px;
                                    }
                                }
                            }
                            &.login-in-fourteen {
                                .log-btn-twelve {
                                    color: variables.$white;
                                    background: variables.$primary-gradient;
                                    border-radius: 44px;
                                    padding: 8px 16px;
                                    &:hover {
                                        box-shadow: inset 210px 0 0 0 variables.$dark;
                                        background: variables.$dark ;
                                    }
                                }
                                .reg-btn-thirteen {
                                    display: flex;
                                    span {
                                        @include mixins.margin-padding(null, 8px 20px);
                                        border: 1px solid variables.$primary;
                                        background: variables.$primary;
                                        color: variables.$white;
                                        border-top-left-radius: 5px;
                                        border-bottom-left-radius: 5px;
                                        transition: all 0.5s;
                                    }
                                    &.regist-btn {
                                            background: variables.$dark;
                                            color: variables.$white;
                                            font-size: variables.$font-size-14;
                                            font-weight: variables.$font-weight-normal;
                                            padding: 7px 12px;
                                            border-radius: 44px;
                                            display: flex;
                                            align-items: center;
                                        &:hover {
                                            background: variables.$primary-gradient;
                                        }
                                    }
                                    .user-icon-header {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 36px;
                                        border: 1px solid colors.$blue__14;
                                        background: colors.$blue__20;
                                        color: variables.$white;
                                        border-top-right-radius: 5px;
                                        border-bottom-right-radius: 5px;
                                        transition: all 0.5s;
                                    }
                                    &:hover {
                                        span,.user-icon-header {
                                            background: variables.$white;
                                            color: variables.$primary;
                                        }

                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}