@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

.header {
	.header-nav {
		background-color: colors.$white;
		border: 0;
		position: variables.$relative;
		height: 85px;
		margin-bottom: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		@extend %flex-align-center;
		@extend %justify-content-between;
		@extend %flex-wrap;
		@include mixins.margin-padding(null, 0);

		@include mixins.respond-below(xl) {
			@include mixins.margin-padding(null, 0);
		}

		@include mixins.respond-below(sm) {
			@include mixins.margin-padding(null, 0 15px);
		}

		.navbar-header {
			@include mixins.respond-below(lg) {
				-webkit-box-align: variables.$center;
				-ms-flex-align: variables.$center;
				align-items: variables.$center;
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: variables.$inline__flex;
			}

			@include mixins.respond-below(sm) {
				width: variables.$full__width;
			}

			.bar-icon {
				display: variables.$inline__block;
				width: 31px;

				span {
					background-color: variables.$primary;
					display: block;
					float: variables.$left;
					height: 3px;
					margin-bottom: 7px;
					width: 31px;
					@include mixins.rounded(2px);

					&:nth-child(2) {
						width: 16px;
					}

					&:nth-child(3) {
						margin-bottom: 0;
					}
				}
			}

			@include mixins.respond-below(lg) {
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: inline-flex;
			}

			@include mixins.respond-below(sm) {
				width: variables.$full__width;
			}
		}

		.main-menu-wrapper {
			@include mixins.respond-below(lg) {
				order: 3;
				width: 260px;
				overflow-x: variables.$hidden;
				overflow-y: variables.$auto;
				z-index: 1060;
				@include mixins.transform(translateX(-260px));
				@include mixins.transition(all 0.4s);
				background-color: colors.$blue;
				@include mixins.position(variables.$fixed, 0, null, 0, 0);
			}
		}

		.menu-header {
			background-color: colors.$white;
			height: 60px;
			border-bottom: 1px solid colors.$light-silver;
			display: none;
			@extend %align-items-center;
			@extend %justify-content-between;
			@include mixins.margin-padding(null, 0 20px);

			@include mixins.respond-below(lg) {
				display: -webkit-box;
				display: -ms-flexbox;
				display: variables.$flex;
			}

			.menu-logo {
				img {
					height: 40px;
				}
			}

			.menu-close {
				font-size: typography.$font__size__18;
			}
		}

		.main-nav {
			list-style: none;
			display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
			@include mixins.margin-padding(0, 0);

			@include mixins.respond-below(lg) {
				-ms-flex-direction: column;
				flex-direction: column;
				margin-bottom: 0;
				list-style: none;
				@include mixins.margin-padding(null, 0);
			}

			ul {
				@include mixins.respond-below(lg) {
					background-color: colors.$dark-inkblue;
					display: none;
					list-style: none;
					padding-left: 0;
					@include mixins.margin-padding(0, null);
				}
			}

			&>.has-submenu {
				&>.submenu {
					&>.has-submenu {
						&>.submenu::before {
							@include mixins.respond-above(lg) {
								top: 20px;
								margin-left: -35px;
								box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .15);
								border-color: variables.$transparent colors.$white colors.$white variables.$transparent;
							}
						}
					}
				}

				&.active {
					.submenu {
						li {
							&.active {
								&>a {
									color: colors.$primarycolor-hover;

									@include mixins.respond-above(lg) {
										color: colors.$primarycolor-hover;
									}
								}
							}
						}
					}

					&>a {
						color: colors.$primarycolor-hover;

						@include mixins.respond-above(lg) {
							color: colors.$primarycolor-hover;
						}
					}
				}
			}

			&>li {
				@include mixins.respond-below(xl) {
					margin-right: 20px;
				}

				@include mixins.respond-below(custom2000) {
					margin-right: 25px;
				}

				@include mixins.respond-below (custom1399) {
					margin-right: 13px;
				}
				@include mixins.respond-below(lg) {
					border-bottom: 1px solid colors.$steel__blue;
					margin: 0;
				}

				&>a {
					@include mixins.respond-above(lg) {
						line-height: 85px;
						@include mixins.margin-padding(null, 0 !important);
					}

					@include mixins.respond-below(lg) {
						line-height: 1.5;
						color: colors.$white;
						font-size: variables.$font-size-14;
						font-weight: variables.$font-weight-medium;
						@include mixins.margin-padding(null, 15px 20px !important);
					}

					&>i {
						@include mixins.respond-above(lg) {
							font-size: typography.$font__size__12;
							margin-left: 3px;
						}

						@include mixins.respond-below (custom991) {
							float: variables.$right;
							margin-top: 5px;
						}
					}
				}

				&.active>a {
					color: colors.$primarycolor-hover;
				}

				.submenu {
					li {
						position: variables.$relative;

						&:first-child {
							a {
								@include mixins.respond-above(lg) {
									border-top: 0;
								}
							}
						}

						a {
							display: block;
							clear: variables.$both;
							white-space: variables.$nowrap;
							font-size: variables.$font-size-14;
							color: colors.$slate-blue;
							width: variables.$full__width;
							border-top: 1px solid colors.$light-silver;
							@include mixins.transition(all .35s ease);
							@include mixins.margin-padding(null, 10px 15px);

							@include mixins.respond-below(lg) {
								border-top: 0;
								color: colors.$white;
								@include mixins.margin-padding(null, 10px 15px 10px 35px);
							}
						}

						& .submenu {
							@include mixins.respond-above(lg) {
								left: variables.$full__width;
								top: 0;
								margin-top: 10px;
							}

							li {
								position: variables.$relative;

								a {
									display: block;
									clear: variables.$both;
									white-space: variables.$nowrap;
									font-size: variables.$font-size-14;
									color: colors.$slate-blue;
									width: variables.$full__width;
									border-top: 1px solid colors.$light-silver;
									@include mixins.margin-padding(null, 10px 15px);
									@include mixins.transition(all .35s ease);

									@include mixins.respond-below(lg) {
										border-top: 0;
										color: colors.$white;
										@include mixins.margin-padding(null, 10px 15px 10px 45px);
									}
								}

								& .has-submenu>a::after {
									content: "\f054";
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									font-size: typography.$font__size__13;
									@include mixins.position(variables.$absolute, 12px, 15px, null, null);
								}
							}

						}
					}

					&>li {
						.submenu {
							@include mixins.respond-above(lg) {
								left: 100%;
								top: 0;
								margin-top: 10px;
							}
						}

						&.has-submenu {
							&>a {
								&::after {
									content: "\f054";
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									font-size: typography.$font__size__13;
									@include mixins.position(variables.$absolute, 12px, 15px, null, null);

									@include mixins.respond-below(lg) {
										content: "\f078";
									}
								}
							}
						}
					}
				}

				&:last-child {
					@include mixins.respond-above(lg) {
						margin-right: 0;
					}
				}

				&.has-submenu {
					&:hover {
						&>.submenu {
							&>li {
								&.has-submenu {
									&:hover {
										&>.submenu {
											@include mixins.respond-above(lg) {
												visibility: variables.$visible;
												opacity: 1;
												margin-top: -1px;
												margin-right: 0;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			li {
				@include mixins.respond-above(lg) {
					display: block;
					position: variables.$relative;
				}

				&>ul {
					@include mixins.respond-above(lg) {
						background-color: colors.$white;
						display: block;
						font-size: variables.$font-size-14;
						min-width: 200px;
						opacity: 0;
						visibility: variables.$hidden;
						z-index: 1000;
						@include mixins.transition(all .2s ease);
						@include mixins.transform(translateY(20px));
						@include mixins.position(variables.$absolute, 100%, null, null, 0);
						@include mixins.margin-padding(0, 0);
						@include mixins.rounded(5px);
						@include mixins.box-shadow(null, 0, 0, 3px, null, rgba(0, 0, 0, 0.1));
					}
				}

				a {
					display: block;
					font-size: variables.$font-size-14;
					font-weight: variables.$font-weight-medium;
				}

				&.login-link {
					display: none;

					@include mixins.respond-below(sm) {
						display: block;
					}
				}

				.submenu {
					a {
						&:hover {
							@include mixins.respond-above(lg) {
								color: colors.$blue__14 !important;
								letter-spacing: 0.5px;
								padding-left: 20px !important;
							}
						}
					}

					&::before {
						@include mixins.respond-above(lg) {
							border: 7px solid colors.$white;
							border-color: variables.$transparent variables.$transparent colors.$white colors.$white;
							content: "";
							@include mixins.transform-origin(0 0);
							@include mixins.transform(rotate(135deg));
							@include mixins.position(variables.$absolute, 2px, null, null, 45px);
							@include mixins.box-shadow(null, -2px, 2px, 2px, -1px, rgba(0, 0, 0, 0.1));
						}
					}
				}

				&+li {
					@include mixins.respond-below(lg) {
						margin-left: 0;
					}
				}

				&.has-submenu {
					&:hover {
						&>.submenu {
							@include mixins.respond-above(lg) {
								visibility: variables.$visible;
								opacity: 1;
								margin-top: 0;
								@include mixins.transform(translateY(0));
							}
						}
					}
				}
			}

			.has-submenu {
				&.active {
					&>a {
						color: variables.$primary;

						@include mixins.respond-above(lg) {
							color: variables.$primary;
						}
					}

					.submenu {
						li {
							&.active>a {
								color: variables.$primary;

								@include mixins.respond-above(lg) {
									color: variables.$primary;
								}
							}
						}
					}
				}

				&:hover {
					&>.submenu {
						@include mixins.respond-above(lg) {
							visibility: variables.$visible;
							opacity: 1;
							margin-top: 0;
							@include mixins.transform(translateY(0));
						}
					}
				}

				&>.submenu__>.has-submenu--.submenu {
					&::before {
						top: 20px;
						margin-left: -35px;
						border-color: variables.$transparent colors.$white colors.$white variables.$transparent;
						@include mixins.box-shadow(null, 1px, 1px, 0, 0, rgba(0, 0, 0, .15));
					}
				}
			}
		}

		.logo {
			display: variables.$inline__block;
			margin-right: 24px;
			width: 160px;
			@include mixins.respond-below (custom1199) {
				margin-right: 21px;
			}
			@include mixins.respond-below(sm) {
				width: variables.$full__width;
				text-align: variables.$center;
				margin-right: 0;
			}

			img {
				@include mixins.respond-below(sm) {
					height: 40px;
				}
			}
		}

		.header-navbar-rht {
			@include mixins.margin-padding(0 0 0 auto, 0);

			@include mixins.respond-below(sm) {
				display: none;
			}

			li {
				padding-right: 20px;
				@extend %inline-flex;
				@extend %align-items-center;
				@extend %justify-content-center;

				&:last-child {
					padding-right: 0px;
				}

				.dropdown-menu {
					border: 0;
					@include mixins.box-shadow(null, 0, 0, 3px, null, rgba(0, 0, 0, 0.1));

					@include mixins.respond-above(lg) {
						min-width: 200px;
						visibility: variables.$hidden;
						opacity: 0;
						display: block;
						@include mixins.margin-padding(0, 0);
						@include mixins.rounded(5px);
						@include mixins.transform(translateY(20px));
					}

					&::before {
						content: "";
						border: 7px solid colors.$white;
						border-color: variables.$transparent variables.$transparent colors.$white colors.$white;
						@include mixins.transform(rotate(135deg));
						@include mixins.position(variables.$absolute, -5px, 17px, null, null);
						@include mixins.box-shadow(null, -2px, 2px, 2px, -1px, rgba(0, 0, 0, 0.1));
					}

					.dropdown-item {
						@include mixins.margin-padding(null, 10px 15px);

						&:first-child {
							border-top: 0;
							@include mixins.rounded(5px 5px 0 0);
						}

						&:last-child {
							@include mixins.rounded(0 0 5px 5px);
							border-top: 1px solid #E2E8F0;
							padding-bottom: 0;
						}
					}

					a:hover {
						color: colors.$primarycolor-hover;
						letter-spacing: 0.5px;
						padding-left: 20px;
						background-color: colors.$white;
					}
				}

				a.header-login {
					border: 2px solid colors.$primarycolor;
					text-align: variables.$center;
					font-size: typography.$font__size__15;
					color: colors.$primarycolor;
					text-transform: variables.$uppercase;
					font-weight: variables.$font-weight-medium;
					@include mixins.rounded(4px);
					@include mixins.margin-padding(null, 10px 15px !important);

					&:hover {
						background-color: colors.$primarycolor;
						border-color: colors.$primarycolor;
						color: colors.$white;
					}
				}

				.header-contact-img {
					display: variables.$inline__block;

					i {
						color: rgba(0, 0, 0, 0.5);
						font-size: typography.$font__size__30;
					}
				}

				.header-contact-detail {
					display: variables.$inline__block;
					padding-left: 10px;

					p {
						&.contact-header {
							color: colors.$dark-gray;
							font-size: typography.$font__size__13;
							font-weight: typography.$regular;
							margin-bottom: 2px;
							text-align: variables.$left;
						}

						&.contact-info-header {
							color: colors.$black;
							font-weight: variables.$font-weight-medium;
							font-size: variables.$font-size-14;
							margin-bottom: 0;

							&.white-font {
								color: colors.$white;
							}
						}
					}
				}

				&.show {
					&>.dropdown-menu {
						@include mixins.respond-above(lg) {
							visibility: variables.$visible;
							opacity: 1;
							margin-top: 0;
							@include mixins.transform(translateY(0));
						}
					}
				}

				.dropdown-menu.show {
					visibility: variables.$visible;
					opacity: 1;
					margin-top: 0;
					@include mixins.transform(translateY(0));
					@include mixins.transition(all .2s ease);
				}

				.dropdown-menu {
					@include mixins.respond-above(lg) {
						min-width: 240px;
						visibility: variables.$hidden;
						opacity: 0;
						display: block;
						@include mixins.transform(translateY(20px));
						@include mixins.rounded(5px);
						@include mixins.margin-padding(0, 15px);

					}
				}

				&.contact-item {
					@include mixins.respond-below(lg) {
						display: none;
					}

					@include mixins.respond-below(xl) {
						display: none;
					}
				}
			}

			.dropdown-toggle::after {
				display: none;
			}

			.dropdown-menu {
				min-width: 200px;
				@include mixins.margin-padding(null, 0);
				.dropdown-item {
					@extend %align-items-center;
					display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
					@include mixins.margin-padding(null, 10px 15px);

					&:hover {
						color: variables.$primary;
					}
				}
			}

			.has-arrow {
				.dropdown-toggle {
					&:after {
						border-top: 0;
						border-left: 0;
						border-bottom: 2px solid colors.$smokey-gray;
						border-right: 2px solid colors.$smokey-gray;
						content: '';
						height: 8px;
						display: variables.$inline__block;
						pointer-events: none;
						width: 8px;
						vertical-align: 2px;
						margin-left: 10px;
						margin-bottom: 5px;
						@include mixins.transform-origin(66% 66%);
						@include mixins.transform(rotate(45deg));
						@include mixins.transition(all 0.15s ease-in-out);
					}

					&[aria-expanded="true"]:after {
						@include mixins.transform(rotate(-135deg));
					}

					.user-img {
						display: variables.$inline__block;
						position: variables.$relative;
						margin-bottom: 5px;
						
						&>img {
							height: 31px;
							object-fit: variables.$cover;
							width: 31px;
							border: 1px solid colors.$blue__17;
						}
					}
				}

				.user-header {
					display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
					@include mixins.margin-padding(null, 10px 15px);
					background: #F8FAFC;
					padding: 5px;
					border-radius: 10px;
					.user-text {
						margin-left: 10px;

						h6 {
							font-size: typography.$font__size__15;
							margin-bottom: 2px;
						}
					}
					.avatar {
						img {
							border: 1px solid colors.$blue__17;
						}
					}
				}

				.logged-item .nav-link {
					font-size: variables.$font-size-14;
					line-height: 85px;
					@include mixins.margin-padding(null, 0 10px);
					@extend %inline-flex;
					@extend %align-items-center;
				}

				&.logged-item {
					.nav-link {
						font-size: variables.$font-size-14;
						@extend %align-items-center;
						@extend %inline-flex;
						@include mixins.margin-padding(null, 0 10px);
					}
				}
			}

			.view-cart-header {
				position: variables.$relative;
				padding-right: 20px;
				a#cart {
					position: variables.$relative;
					font-size: typography.$font__size__18;
					color: #6B7280;

					&:hover {
						color: variables.$primary;
					}
				}
			}

			.noti-nav {
				.nav-link {
					font-size: typography.$font__size__18;
					color: colors.$bodycolor;

					.badge {
						background-color: #0E82FD;
						border-radius: 2px;
						color: #ffffff;
						font-size: 10px;
						font-style: normal;
						text-align: center;
						position: absolute;
						top: 21px;
						right: -6px;
						padding: 0 5px;
						width: 15px;
						height: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						line-height: 0;
						font-weight: normal;
					}
				}
			}

			.noti-nav .dropdown-menu {
				min-width: 370px;
				padding: 0;
				font-weight: variables.$font-weight-normal;

				.topnav-dropdown-header {
					border-bottom: 1px solid #EEF1FE;
					height: 44px;
					line-height: 44px;
					padding-left: 15px;
					padding-right: 15px;
					font-weight: variables.$font-weight-medium;
					display: variables.$flex;
					justify-content: space-between;
				}

				.noti-content {
					height: 260px;
					width: 420px;
					overflow-y: auto;
					position: relative;
				}

				.notification-list {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				ul.notification-list>li {
					margin-top: 0;
					border-bottom: 1px solid #f5f5f5;
					padding: 0;
					margin: 0;
					width: 100%;
				}

				ul.notification-list>li a {
					display: block;
					padding: 10px 15px;
					border-radius: 2px;
					width: 100%;

					&:hover {
						letter-spacing: normal;
					}
				}

				.notify-block:last-child {
					border-bottom: none;
				}

				.notify-block>.avatar {
					margin-right: 10px;
					width: auto;
					height: auto;
				}

				.notify-block>.avatar>img {
					width: 46px;
					height: 46px;
					border-radius: 5px;
					margin-right: 8px;
				}

				.media-body {
					width: 100%;
				}

				.media-body h6 {
					margin-bottom: 3px;
				}

				.noti-title {
					color: variables.$primary;
				}

				.notification-time {
					font-size: 12px;
					line-height: 1.35;
					float: right;
				}
			}

		}
	}

	.nav-transparent {
		background-color: variables.$transparent !important;
		border-bottom: 0 !important;

		.white-font {
			&>li {
				&>a {
					@include mixins.respond-above(lg) {
						color: colors.$white;
					}
				}
			}
		}
	}

	&.custom {
		background-color: variables.$transparent;
		border-bottom: 0 !important;

		.no-border {
			border: none !important;
		}

		.white-font {
			&>li {
				&>a {
					@include mixins.respond-above(lg) {
						color: colors.$white;
					}
				}
			}
		}

		.header-navbar-rht.right-menu {
			.header-contact-img {
				i {
					width: 30px;
					background-color: colors.$white;
					height: 30px;
					border-radius: 50%;
					font-size: typography.$font__size__11;
					color: colors.$dark__ink;
					border: 2px solid colors.$light__platinum;
					@extend %flex-align-center;
				}
			}

			.header-contact-detail {
				p.contact-info-header {
					color: colors.$white;
				}
			}

			li {
				border-right: 0;

				a.header-login {
					width: 120px;
					padding: 10px !important;
				}

				&:last-child {
					border-right: 0;
					padding: 0;
				}
			}
		}
	}

	&.header-five {
		.no-border {
			border: none !important;
		}

		.main-menu-wrapper {
			margin-left: 40px !important;

			@include mixins.respond-below(lg) {
				margin-left: variables.$auto !important;
			}

			.main-nav {
				.has-submenu {
					&.active {
						&>a {
							@include mixins.respond-above(lg) {
								color: colors.$sky__03;
							}

							&:after {
								content: "";
								width: 70px;
								background: colors.$sky__03;
								height: 2px;
								z-index: 9;
								@include mixins.position(variables.$absolute, null, null, 25px, -7px);
							}
						}
					}
				}

				&.blue-font {
					&>li {
						&>a {
							color: colors.$blue__09;
							text-transform: variables.$uppercase;
						}
					}
				}
			}
		}

		.header-navbar-rht {
			li {
				a.header-login.white-bg {
					background-color: colors.$white;
					color: colors.$sky__03 !important;
					border: 1px solid colors.$sky__03;
					font-size: 12px;
				}
			}
		}
	}

	.user-menu {
		float: variables.$right;
		position: variables.$relative;
		z-index: 99;
		@include mixins.margin-padding(0, null);

		&.nav {
			li {
				a {
					color: colors.$white;
					font-size: variables.$font-size-14;
					line-height: 58px;
					height: 60px;
					@include mixins.margin-padding(null, 0 15px);

					&:hover,
					&:focus {
						background-color: rgba(0, 0, 0, 0.2);

						i {
							color: colors.$white;
						}
					}

					&.mobile_btn {
						border: 0;
						position: variables.$relative;
						cursor: variables.$pointer;
						@include mixins.margin-padding(0, 0);
					}
				}
			}
		}
	}

	&.header-four {
		.header-nav {
			background-color: colors.$info__dark;
			border: none;
		}

		.main-nav {
			.has-submenu {
				&.active {
					&>a {
						@include mixins.respond-above(lg) {
							color: colors.$white;
							border-top: 3px solid colors.$rose__light;
						}
					}
				}
			}

			&>li {
				&>a {
					@include mixins.respond-above(lg) {
						line-height: 80px;
						color: colors.$white;
					}
				}
			}
		}

		.nav-item {
			line-height: 60px;
			align-items: variables.$center;
			display: variables.$flex !important;

			a.header-login {
				border: 2px solid colors.$white;
				border-radius: 30px;
				text-align: variables.$center;
				font-size: variables.$font-size-14;
				color: colors.$white;
				text-transform: variables.$uppercase;
				font-weight: variables.$font-weight-medium;
				line-height: 20px;

				&:hover {
					background-color: colors.$sky__01;
					border: 2px solid colors.$sky__01;
				}

				@include mixins.margin-padding(null, 10px 15px !important);

				i {
					font-size: variables.$font-size-14;
					margin: 0;
					margin-right: 3px;
				}
			}
		}
	}

	&.header-trans {
		position: variables.$fixed;
		display: block;
		width: variables.$full__width;
		z-index: 9999;
		background: variables.$transparent;

		.header-nav {
			background: variables.$transparent;
			border-bottom: none;
		}

		.main-menu-wrapper {
			margin-left: variables.$auto;
			@include mixins.respond-below (custom1399) {
				margin-right: variables.$auto;
				margin-left: variables.$unset;
			}
		}

		.header-navbar-rht {
			li {
				height: 20px;
				padding-right: 15px;
				@include mixins.respond-below (custom1399) {
					padding-right: 5px;
				}
				.header-contact-img {
					i {
						color: colors.$banner-btn;
						font-size: 14px;
					}
				}

				.header-contact-detail {
					p.contact-info-header {
						color: colors.$banner-btn;
					}
				}

				&:last-child {
					border-right: 0;
					padding-left: 15px;
					@include mixins.respond-below (custom1199) {
						padding-left: 0;
					}
				}

				a.header-login {
					text-align: variables.$center;
					font-size: typography.$font__size__13;
					color: colors.$white;
					text-transform: variables.$uppercase;
					background-color: colors.$blue_color1;
					box-shadow: 0px 4px 4px rgb(189 189 189 / 25%);
					border-radius: 47px;
					border: 0;

					&.white-bg {
						background-color: colors.$white;
						color: colors.$info__dark;
					}

					&:hover {
						background-color: colors.$blue_color1;
						color: colors.$white;
					}
				}
			}
		}
	}
	&.header-three {
		.header-nav {
			.main-menu-wrapper {
				margin: 0;
			}
			.header-navbar-rht {
				@include mixins.margin-padding(0, 0);
				li {
					margin-right: 0;
					padding-right: 15px;
					color: variables.$gray-900;
					position: relative;
					i {
						margin-right: 5px;
					}
					&.contact-item {
						span {
							@include mixins.respond-below(xxl) {
	                            display: none;
	                        }
	                    }
					}
					&::before {
						content: "";
						background: colors.$white;
						width: 1px;
						height: 25px;
						@include mixins.position(absolute, 50%, 0, null, null);
						@include mixins.transform(translateY(-50%));
					}
					&:last-child {
						margin-right: 0;
						padding-right: 0;
						&::before {
							content: none;
						}
					}
					a {
						&.header-login {
							text-transform: none;
							font-size: variables.$font-size-16;
							i {
								margin-right: 8px;
							}
						}
					}
				}

				@include mixins.respond-below(lg) {
					display: none;
				}

				@include mixins.respond-below(md) {
					display: none;
				}
			}
		}
	}
}

.header-one {
	.header-nav {
		.main-nav {
			.has-submenu.active {
				.submenu {
					li.active {
						>a {
							color: variables.$primary;
						}
					}
				}
			}
		}
	}

	width: variables.$full__width;
	z-index: 1040;
	@include mixins.transition(all 0.3s ease 0s);
	background-color: variables.$transparent;
	box-shadow: 0px 4px 4px rgb(198 198 198 / 25%);

	&.min-header {
		width: variables.$full__width;
		z-index: 1040;
		@include mixins.transition(all 0.3s ease 0s);
		background-color: variables.$transparent;
	}

	&.header-fixed {
		position: variables.$fixed;
		display: block;
		width: variables.$full__width;
		z-index: 9999;
		background: colors.$blue-50;
		box-shadow: variables.$inherit;
	}

	&.header-space {
		.header-nav {
			height: 80px;
		}
	}

	.header-nav {
		display: flex;
        display: -webkit-flex;
        align-items:center;
        -webkit-align-items:center;
        justify-content: space-between;
        -webkit-justify-content: space-between;
		@extend %flex-wrap;
		background-color: variables.$transparent;
		border: 0;
		position: variables.$relative;
		@include mixins.margin-padding(0, 0);
		height: 100px;
		@include mixins.transition(all 0.5s ease);

		@include mixins.respond-below(lg) {
			height: 70px;
		}

		@include mixins.respond-below(lg) {
			@include mixins.margin-padding(0, 0 0);
		}

		.menu-header {
			@include mixins.respond-below(lg) {
				height: 70px;
			}
		}

		.main-menu-wrapper {
			@include mixins.respond-below(lg) {
				background-color: variables.$primary;
			}
		}
	}

	.navbar-header {
		@include mixins.respond-below(lg) {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			width: variables.$full__width;
		}

		#mobile_btn {
			display: none;
			margin-right: 30px;

			@include mixins.respond-below(lg) {
				display: variables.$inline__block;
				@include mixins.margin-padding(0, 0 0);
			}

			@include mixins.respond-below(md) {
				margin-right: 0;
			}

			.bar-icon {
				display: variables.$inline__block;
				width: 31px;

				span {
					background-color: variables.$primary;
					display: block;
					float: variables.$left;
					height: 3px;
					margin-bottom: 7px;
					width: 31px;
					border-radius: 2px;
					@include mixins.transition(ease all 0.5s);
					position: variables.$relative;

					&:nth-child(2) {
						width: 16px;
					}

					&:nth-child(3) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.main-menu-wrapper {
		@include mixins.margin-padding(0, 0);

		.main-nav {
			display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
			list-style: none;
			@include mixins.margin-padding(0, 0);

			ul {
				@include mixins.respond-below(lg) {
					background-color: colors.$cyan_blue;
					display: none;
					list-style: none;
					margin: 0;
					padding-left: 0;
				}
			}

			li {
				.btn {
					color: colors.$white;
					font-weight: variables.$font-weight-semibold;
					font-size: variables.$font-size-14;
					padding: 7px 8px !important;
					border: 1px solid variables.$primary;
					border-radius: 6px;

					&:hover {
						color: variables.$primary;
						border: 1px solid variables.$primary;
					}

					i {
						font-size: typography.$font__size__15;
						margin-right: 5px;
						margin-left: 0;
					}

					&.reg-btn {
						min-width: 108px;
						background-color: colors.$white;
						border: 1px solid colors.$white_tone;
						color: variables.$gray-900;
						box-shadow: inset 0 0 0 0 variables.$primary;
						@include mixins.transition(0.7s);
						@extend %flex-align-center;

						&:hover {
							color: colors.$white;
							background-color: variables.$primary;
							border: 1px solid variables.$primary;
							box-shadow: inset 0 0 0 50px variables.$primary;
							@include mixins.transition(0.7s);
						}
					}

					&.log-btn {
						min-width: 87px;
						color: colors.$white;
						background-color: variables.$primary;
						border: 1px solid variables.$primary;
						box-shadow: inset 0 0 0 0 colors.$white;
						@include mixins.transition(0.7s);
						@extend %flex-align-center;

						&:hover {
							color: variables.$primary;
							background-color: colors.$white;
							border: 1px solid variables.$primary;
							box-shadow: inset 0 0 0 50px colors.$white;
							@include mixins.transition(0.7s);
						}
					}
				}

				a {
					font-size: typography.$font__size__15;
					font-weight: variables.$font-weight-medium;
					color: variables.$gray-900;
					display: block;

					@include mixins.respond-below(xl) {
						font-size: variables.$font-size-14;
					}
				}

				&.login-link {
					display: none;

					@include mixins.respond-below(lg) {
						display: block;
					}
				}

				&>ul {
					@include mixins.respond-above(lg) {
						background: colors.$white;
						box-shadow: 0px 4px 4px rgb(196 196 196 / 25%);
						border-radius: 0px 0px 6px 5px;
						display: block;
						font-size: variables.$font-size-14;
						min-width: 200px;
						opacity: 0;
						@include mixins.margin-padding(0, 0);
						@include mixins.position(variables.$absolute, 100%, null, null, 0);
						@include mixins.transition(all .2s ease);
						@include mixins.transform(translateY(20px));
						visibility: variables.$hidden;
						z-index: 1000;
					}
				}

				@include mixins.respond-above(lg) {
					display: block;
					position: variables.$relative;
				}
			}

			.register-btn {
				@extend %flex-align-center;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				@include mixins.respond-below(lg) {
					display: none;
				}
			}

			&>li {
				@include mixins.respond-above(lg) {
					margin-right: 8px;
				}

				@include mixins.respond-above(custom1200) {
					margin-right: 18px;
				}

				@include mixins.respond-below(lg) {
					border-bottom: 1px solid colors.$cyan_blue;
					margin-left: 0;
					margin-right: 0;
				}

				&>a {
					i {
						@include mixins.respond-below(lg) {
							float: variables.$right;
							margin-top: 5px;
						}
					}

					@include mixins.respond-below(lg) {
						line-height: 1.5;
						padding: 15px 20px !important;
						color: colors.$white !important;
						font-size: variables.$font-size-14;
						background: variables.$transparent !important;
						border-radius: 0 !important;
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}

			&>li {
				&.active {
					&>a {
						color: colors.$blue__14 !important;

						@include mixins.respond-below(lg) {
							color: colors.$white !important;
						}
					}
				}

				&>a {
					position: variables.$relative;

					&:hover {
						color: variables.$primary;
					}

					@include mixins.respond-above(lg) {
						padding: 23px 0 28px !important;
						line-height: variables.$normal;
					}

					&>i {
						font-size: typography.$font__size__10;
						margin-left: 6px;
					}
				}

				&.searchbar {
					a {
						color: colors.$bodycolor;

						i {
							font-size: variables.$font-size-16;
						}
					}

					@include mixins.respond-below(xl) {
						display: none;
					}
				}

				&.has-submenu {
					.submenu {
						.has-submenu {
							.submenu {
								&::before {
									top: 20px;
									margin-left: -35px;
									box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .15);
									border-color: variables.$transparent colors.$white colors.$white variables.$transparent;
								}
							}
						}
					}

					&:hover {
						&>.submenu {
							@include mixins.respond-above(lg) {
								visibility: variables.$visible;
								opacity: 1;
								margin-top: 0;
								@include mixins.transform(translateY(0));

								&>li {
									&.has-submenu {
										&:hover {
											.submenu {
												visibility: variables.$visible;
												opacity: 1;
												margin-top: 0;
												margin-right: 0;
											}
										}
									}
								}
							}
						}
					}
				}

				.submenu {
					li {
						position: variables.$relative;

						a {
							display: block;
							padding: 10px 15px;
							clear: variables.$both;
							white-space: variables.$nowrap;
							font-size: variables.$font-size-14;
							color: colors.$slate-blue;
							@include mixins.transition(all .35s ease);
							width: variables.$full__width;
							position: variables.$relative;
							border-top: 1px solid colors.$light-silver;

							&.active {
								color: variables.$primary;
							}

							&:hover {
								color: colors.$blue__14 !important;
							}

							@include mixins.respond-below(lg) {
								padding: 10px 15px 10px 35px;
							}
						}
					}

					&>li {
						&.has-submenu {
							&>a {
								&::after {
									content: "\f054";
									font-family: "Font Awesome 5 Free";
									font-weight: typography.$bold;
									@include mixins.position(variables.$absolute, 12px, 15px, null, null);
									font-size: typography.$font__size__13;
								}
							}
						}

						.inner-submenu {
							@include mixins.respond-above(lg) {
								left: 100%;
								top: 0;
								margin-top: 10px;
							}
						}
					}

					&::before {
						@include mixins.respond-above(lg) {
							border: 7px solid colors.$white;
							border-color: variables.$transparent variables.$transparent colors.$white colors.$white;
							box-shadow: -2px 2px 2px -1px rgb(0 0 0 / 10%);
							content: "";
							@include mixins.position(variables.$absolute, 2px, null, null, 45px);
							-webkit-transform-origin: 0 0;
							transform-origin: 0 0;
							@include mixins.transform(rotate(135deg));
						}
					}
				}
			}

			@include mixins.respond-below(lg) {
				padding: 0;
				-ms-flex-direction: column;
				flex-direction: column;
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
			}
		}

		@include mixins.respond-below(lg) {
			order: 3;
			width: 260px;
			@include mixins.position(variables.$fixed, 0, null, 0, 0);
			overflow-x: variables.$hidden;
			overflow-y: variables.$auto;
			z-index: 1060;
			@include mixins.transition(all 0.4s);
			@include mixins.transform(translateX(-260px));
			background-color: colors.$primarycolor;
		}
	}
	.header-navbar-rht {
		li {
			padding-right: 0;
			.btn {
					font-weight: variables.$font-weight-medium;
					font-size: variables.$font-size-16;
					padding: 8px 16px !important;
					i {
						margin-right: 8px;
						margin-left: 0;
					}

					&.reg-btn {
						min-width: 108px;
						@include mixins.transition(0.7s);
						@extend %flex-align-center;

						&:hover {
							@include mixins.transition(0.7s);
						}
					}

					&.log-btn {
						min-width: 87px;
						@include mixins.transition(0.7s);
						@extend %flex-align-center;

						&:hover {
							@include mixins.transition(0.7s);
						}
					}
			}
		}
	}
	.logo {
		display: variables.$inline__block;
		margin-right: 0;

		&.navbar-brand {
			@include mixins.respond-below(lg) {
				width: 160px;
				text-align: variables.$center;
				margin:auto;
			}
		}
	}

	.header-nav {
		.header-navbar-rht {
			@include mixins.margin-padding(0, 0);
			color: colors.$white;
			font-size: typography.$font__size__15;
			font-weight: variables.$font-weight-semibold;
			margin-right: 2px;

			li {
				margin-right: 8px;
				padding-right: 0;

				&:last-child {
					margin-right: 0;
				}
			}

			@include mixins.respond-below(lg) {
				display: none;
			}

			@include mixins.respond-below(md) {
				display: none;
			}
		}
	}

	.menu-header {
		background-color: colors.$white;
		height: 72px;
		padding: 0 15px;
		@extend %align-items-center;
		@extend %justify-content-between;
		border-bottom: 2px solid variables.$primary;
		display: none;

		.menu-close {
			font-size: typography.$font__size__20;

			i {
				color: variables.$primary;

				&:hover {
					color: colors.$black;
				}
			}
		}

		@include mixins.respond-below(lg) {
			display: variables.$flex;
		}
	}
}

.togglesearch {
	position: variables.$absolute;
	top: 74px;
	right: 8%;
	width: 280px;
	display: none;
	z-index: 999;
	background: colors.$white;
	padding: 10px 10px;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgb(183 183 183 / 25%);

	input[type="text"] {
		width: 182px;
		padding: 5px 10px;
		border: 1px solid variables.$primary;
		outline: none;
		height: 39px;
		border-radius: 5px 0 0 5px;
	}

	button {
		background: variables.$primary;
		color: variables.$white;
		border: 1px solid variables.$primary;
		outline: none;
		cursor: variables.$pointer;
		border-radius: 0 5px 5px 0;
		padding: 8px 12px;
		font-size: 14px;
		&:hover {
			background: variables.$primary-hover;
			color: variables.$white;
		}
	}
}

.sidebar-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	height: variables.$full__height;
	width: variables.$full__width;
	z-index: 99;
	@include mixins.position(variables.$fixed, 0, null, null, 0);

	&.opened {
		@include mixins.respond-below(lg) {
			display: block;
		}
	}
}

.menu-opened .main-menu-wrapper {
	@include mixins.transform(translateX(0) !important);
}

html.menu-opened body {
	overflow: variables.$hidden;
}

#mobile_btn {
	display: none;
	margin-right: 30px;

	@include mixins.respond-below(lg) {
		display: variables.$inline__block;
	}

	@include mixins.respond-below(sm) {
		margin-right: 0;
		z-index: 99;
		@include mixins.position(variables.$absolute, null, null, null, 0);
		@include mixins.margin-padding(null, 0);
	}
}
.header-two, .header-eight, .custom {
	.header-nav {
		.navbar-header {
			#mobile_btn {
				margin-left: 0;
			}
		}
	}
}

.navbar-brand {
	&.logo {
		@include mixins.respond-below(sm) {
			width: variables.$full__width;
			text-align: variables.$center;
			margin-right: 0;
		}

		img {
			@include mixins.respond-below(sm) {
				height: 40px;
			}
		}
	}
}

.header-top {
	display: variables.$flex;
	background: colors.$primarycolor;
	color: colors.$white;
	@include mixins.margin-padding(null, 8px 30px);

	@include mixins.respond-below(lg) {
		display: none;
	}

	ul {
		display: variables.$flex;
		@extend %ul_reset;

		li {
			padding-right: 25px;
			font-size: typography.$font__size__13;

			.top-icon {
				margin-right: 5px;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.right-top {
		margin-left: auto;
	}
}

.login-header-info {
	@include mixins.position(variables.$fixed, 0, null, null, 0);
	box-shadow: variables.$unset;
	background: colors.$white;
	border-bottom: 2px solid colors.$errigal_white;
	width: variables.$full__width;
	z-index: 11;

	@include mixins.respond-below(lg) {
		display: none;
	}

	.header-nav {
		height: 83px;
		@include mixins.margin-padding(0, 0 30px);

		@include mixins.respond-below(lg) {
			height: 70px;
			@include mixins.margin-padding(0, 0 20px);
		}

		@include mixins.respond-below(md) {
			@include mixins.margin-padding(0, 0 15px);
		}

		.main-nav {
			li {
				a {
					font-size: typography.$font__size__15;
					font-weight: variables.$font-weight-medium;
					color: colors.$bodycolor;

					&:hover {
						color: variables.$primary;
					}
				}
			}
		}
	}

	.header-navbar-rht {
		display: none;

		@include mixins.respond-below(lg) {
			display: variables.$inherit;
		}

		@include mixins.respond-below(md) {
			display: none;
		}
	}

	.flag-dropdown {
		@include mixins.margin-padding(0, 18px 0);

		@include mixins.respond-below(lg) {
			@include mixins.margin-padding(0, 12px 0);
		}
	}
}

.flag-dropdown {
	.dropdown-toggle {
		color: variables.$gray-900 !important;
		font-size: typography.$font__size__14 !important;
		padding: 11px 15px;
		min-width: 146px;
		background: colors.$white;
		border: 1px solid #E4E4E8;
		border-radius: 8px;
		position: variables.$relative;
		display: variables.$flex !important;
		@extend %flex__center;
		@extend %flex__start;

		&.show {
			&+.dropdown-menu {
				visibility: variables.$visible;
				opacity: 1;
				margin-top: 0;
				border-radius: 0 0 5px 5px;
				@include mixins.transform(translateY(0));
			}
		}

		&:after {
			border-top: 0;
			border-left: 0;
			border-bottom: 2px solid colors.$black;
			border-right: 2px solid colors.$black;
			content: '';
			height: 8px;
			display: variables.$inline__block;
			pointer-events: none;
			-webkit-transform-origin: 66% 66%;
			-ms-transform-origin: 66% 66%;
			transform-origin: 66% 66%;
			@include mixins.transform(rotate(45deg));
			@include mixins.transition(all 0.15s ease-in-out);
			width: 8px;
			vertical-align: 2px;
			margin-left: 0;
			@include mixins.position(variables.$absolute, 15px, 15px, null, null);

			&:hover {
				border-bottom: 2px solid colors.$black;
				border-right: 2px solid colors.$black;
			}
		}

		.flag-img {
			margin-right: 10px;
			border-radius: 50px;
			width: 20px;
		}
	}

	&.show {
		&+.dropdown-menu {
			visibility: variables.$visible;
			opacity: 1;
			margin-top: 0;
			border-radius: 0 0 5px 5px;
			@include mixins.transform(translateY(0));
		}
	}

	.dropdown-menu {
		border-radius: 5px;
		@include mixins.margin-padding(0, 0);
		min-width: 200px;
		visibility: variables.$hidden;
		opacity: 0;
		top: 100%;
		left: auto !important;
		right: 0 !important;
		@include mixins.transition(all .2s ease);
		display: block;
		@include mixins.transform(translateY(40px));

		.dropdown-item {
			@extend %flex__center;
			font-size: typography.$font__size__14 !important;
			color: colors.$black;
			@include mixins.margin-padding(0, 10px 15px);
			font-weight: variables.$font-weight-semibold;

			img {
				margin-right: 10px;
				width: 20px;
			}

			&:hover {
				color: colors.$black 14px !important;
			}
		}
	}

	.dropdown-toggle[aria-expanded="true"]:after {
		@include mixins.transform(rotate(-135deg));
	}
}

.main-nav {
	li {
		.flag-dropdown {
			.submenu {
				&::before {
					display: none;
				}
			}
		}
	}
}

.flag-dropdown .dropdown-menu .dropdown-item.active,
.flag-dropdown .dropdown-menu .dropdown-item:active {
	color: colors.$white;
	background-color: colors.$primarycolor;
}

.noti-nav {
	.nav-link {
		font-size: typography.$font__size__18;
		color: colors.$bodycolor;

		.badge {
			background-color: #0E82FD;
			border-radius: 2px;
			color: #ffffff;
			font-size: 10px;
			font-style: normal;
			text-align: center;
			position: absolute;
			top: 19px;
			right: -6px;
			padding: 0 5px;
			width: 15px;
			height: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 0;
			font-weight: normal;
		}
	}
}

.noti-nav .dropdown-menu {
	min-width: 420px;
	padding: 0;
}

.main-nav li.megamenu>ul {
	width: 100%;
}

.megamenu-wrapper {
	padding: 25px 25px 0;
	background: colors.$blue__dark;
	height: calc(100vh - 100px);
    overflow: auto;
}
.single-demo {
	transition: 0.4s;
	margin-bottom: 25px;
}

.single-demo:hover {
	transform: translateY(-20px);
}

.header .main-menu-wrapper .main-nav>li .submenu li .single-demo.active .demo-info .inner-demo-img {
	color: colors.$blue_color1;
}
.header.header-sixteen .main-menu-wrapper .main-nav>li .submenu li .single-demo.active .demo-info .inner-demo-img {
	color: colors.$blue_color1;
}
.header.header-thirteen .main-menu-wrapper .main-nav>li .submenu li .single-demo.active .demo-info .inner-demo-img {
	color: colors.$blue_color1;
}
.header.header-twelve .main-menu-wrapper .main-nav>li .submenu li .single-demo.active .demo-info .inner-demo-img {
	color: colors.$blue_color1;
}
.header .main-menu-wrapper .main-nav>li .submenu li .single-demo {
	.demo-info {
		.inner-demo-img {
			color: colors.$white !important;
			font-weight: typography.$semibold !important;
			font-size: typography.$font__size__16 !important;
			border-top: 0 !important;
		}
	} 
	.demo-img {
		.inner-demo-img {
			border-radius: 10px;
			img {
				border-radius: 10px;
			}
		}
	}
	&.active {
		.demo-info {
			.inner-demo-img {
				color: colors.$sky-600 !important;
			}
		} 
	}
} 
.single-demo.active .demo-img {
	box-shadow: 0px 4.8px 24.4px -12px rgba(19, 16, 34, 0.1), 0px 4px 13px -2px rgba(19, 16, 34, 0.06);
}

.single-demo:hover .demo-info {
	opacity: 1;
	bottom: -30px;
}

.demo-info {
	/* position: absolute;
	bottom: -30px; */
	width: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
	/* opacity: 0; */
	transition: 0.4s;
	margin-top: 10px;
}

@include mixins.respond-above(lg) {
	.header .header-nav .main-nav li .submenu a.inner-demo-img:hover {
		padding-left: 0 !important;
	}
}

.header .header-nav .main-nav>li.megamenu {
	@include mixins.respond-above(lg) {
		position: unset;
	}
}

.single-demo a {
	padding: 0 !important;
}

@include mixins.respond-above(lg) {
	.header .header-nav .main-nav li>ul.mega-submenu {
		padding: 0;
		border: 0;
		display: block;
		opacity: 0;
		visibility: hidden;
		background: #002578;
		min-width: 250px;
		transform: scaleY(0);
		-webkit-transform: scaleY(0);
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		transform-origin: center top 0;
		-webkit-transform-origin: center top 0;
		-moz-transform-origin: center top 0;
		-ms-transform-origin: center top 0;
		-o-transform-origin: center top 0;
		transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		box-shadow: 0 16px 50px rgba(0, 0, 0, .08);
		-webkit-box-shadow: 0 16px 50px rgba(0, 0, 0, .08);
		-moz-box-shadow: 0 16px 50px rgba(0, 0, 0, .08);
		-ms-box-shadow: 0 16px 50px rgba(0, 0, 0, .08);
		-o-box-shadow: 0 16px 50px rgba(0, 0, 0, .08);
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}

	.header .header-nav .main-nav li.has-submenu:hover>.submenu {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
	}

	.header .header-nav .main-nav li .submenu.mega-submenu::before {
		display: none;
	}
}

@include mixins.respond-below(lg) {
	.megamenu-wrapper {
		padding: 0;
	}

	.demo-img {
		display: none;
	}

	.demo-info {
		opacity: 1;
		position: relative;
		bottom: 0;
		text-align: left;
		margin-top: 0;
	}

	.single-demo a {
		padding: 10px 15px 10px 35px !important;
	}

	.single-demo:hover .demo-info {
		bottom: 0;
	}

	.single-demo .demo-info a {
		padding: 10px 15px 10px 35px;
	}

	.single-demo:hover {
		transform: translateY(0);
	}

	.single-demo:hover .demo-info {
		bottom: 0;
	}

	.single-demo {
		margin-bottom: 0;
	}
}
@include mixins.respond-below(lg) {
.header {
	&.header-custom {
		.header-nav {
			.main-nav {
				& > li {
					.submenu {
						li {
							.submenu {
								li {
									a {
										color: colors.$slate-blue;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.header-one {
	.main-menu-wrapper {
		.main-nav {
			& > li {
				.submenu {
					& > li {
						&.has-submenu {
							& > a {
								&::after {
									content: "\f078";
								}
							}
						}
					}
				}
			}
		}
	}
}
.header-ten {
	.main-menu-wrapper {
		.main-nav {
			& > li {
				.submenu {
					& > li {
						&.has-submenu {
							& > a {
								&::after {
									content: "\f078";
								}
							}
						}
					}
				}
			}
		}
	}
}
}
.header.home-head-one.header-fixed {
	background: variables.$light-300;
}
header {
	&.inner-header {
		@include mixins.transition(all 0.9s);
		border-bottom: 1px solid #f0f0f0;
		&.header-fixed {
			background: variables.$white;
		}
		&.fixed {
			top: 0;
			@include mixins.transition(all 0.9s);
			-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
			animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		}
		background: variables.$white;
		.header-nav {
			background: variables.$white;
			height: 68px;
			.logo {
				width: auto;
				max-width: 160px;
				@include mixins.respond-below(sm) {
					width: 100%;
					max-width: 100%;
				}
			}
			.navbar-header {
				display: inline-flex;
				align-items: center;
				.dropdown {
					.dropdown-toggle {
						@include mixins.rounded(55px);
						i {
							color: variables.$gray-900;
						}
					}
					@include mixins.respond-below(xxl) {
						display: none;
					}
				}
			}
			.header-menu {
				display: inline-flex;
				align-items: center;
			}
			.main-nav {
				& > li {
					& > a {
						line-height: 68px;
						@include mixins.respond-below(lg) {
							line-height: 1.5;
						}
					}
				}
			}
			.header-navbar-rht {
				margin-left: 24px;
				li {
					padding-right: 8px;
					&.searchbar {
						padding-right: 24px;
						@include mixins.respond-below(xl) {
							display: none;
						}
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
		.togglesearch {
			top: 56px;
    		right: 18%;
			button {
				padding: 6px 12px;
			}
		}
	}
}
.header-topbar {
	background: variables.$light-transparent;
	padding: 8px 0;
	@include mixins.respond-below(lg) {
		display: none;
	}
	.topbar-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > ul {
			& > li {
				display: inline-block;
				margin-right: 8px;
				padding-right: 8px;
				border-right: 1px solid variables.$border-color;
				&:last-child {
					margin: 0;
					padding: 0;
					border: 0;
				}
				.social-icon {
					a {
						width: 22px;
						height: 22px;
						background: transparent;
						@include mixins.rounded(50%);
						color: variables.$gray-600;
						font-size: variables.$font-size-14;
						margin-right: 8px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						&:last-child {
							margin-right: 0;
						}
						&:hover {
							background: variables.$gray-transparent;
						}
					}
				}
				.dropdown-amt {
					.dropdown-toggle {
						position: relative;
						font-size: variables.$font-size-14;
						font-weight: variables.$font-weight-medium;
						&::after {
							display: inline-block;
							margin-inline-start: 4px;
							vertical-align: 0;
							content: "\f078";
							font-family: "Font Awesome 5 Free";
							border: 0;
							font-size: 0.75rem;
							font-weight: 600;
							color: variables.$gray-600;
						}
					}
				}
			}
		}
	}
	.header-info {
		p {
			color: variables.$gray-900;
			font-size: 14px;
			margin-bottom: 0;
			i {
				color: variables.$primary;
			}
		}
	}
	.dropdown-menu {
		z-index: 999999;
		.dropdown-item {
			font-size: variables.$font-size-14;
		}
	}
}
header.inner-header .header-nav .header-navbar-rht li.noti-nav {
	> a {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid variables.$gray-transparent;
		background: variables.$light-transparent;
		border-radius: 50%;
		font-size: variables.$font-size-14 !important;
		i {
			font-weight: 600;
		}
		&.active-dot {
			position: relative;
			&::before {
				content: "";
				width: 7px;
				height: 7px;
				border-radius: 50%;
				position: absolute;
				right: -2px;
				top: -2px;
			}
			&.active-dot-purple {
				&::before {
					background: variables.$purple;
				}
			}
			&.active-dot-danger {
				&::before {
					background: variables.$danger;
				}
			}
			&.active-dot-success {
				&::before {
					background: variables.$success;
				}
			}
		}
		
	}
}
.header-theme {
	.theme-toggle {
		display: none !important;
		i {
			font-size: 16px !important;
		}
		&.activate {
			display: block !important;
		}
		color: variables.$teal;
	}
}
header.inner-header .header-nav .header-navbar-rht li.noti-nav > a {
	&.activate {
		display: flex !important;
	}
	i {
		font-size: variables.$font-size-14 !important;
	}
}

