$primarycolor: #00d0f1;
$primarycolor-hover: #19c1dc;
$__deep__skyblue: #42c0fb;
$__blue: #15558d;
$white: #ffffff;
$__dark-blue: #2E3842;
$__slate-blue: #2d3b48;
$dark-slate-blue: #474648;
$gray: #333333;
$dark__gray: #888888;
$mix__gray: #f7f7f7;
$__dark-gray: #484848;
$light-gray: #dcdcdc;
$goose-gray: #cccccc;
$light__goose: #dddddd;
$__light-goose-gray: #dedfe0;
$light-silver: #f0f0f0;
$black: #000000;
$smokey-gray: #757575;
$light__smokey-gray: #666;
$__dark__smokeygray: #727272;
$celeste: #0de0fe;
$__dark-celeste: #01cae4;
$light__celeste: #20e3ff;
$light-pale-blue: #f8f9fa;
$__red: #fb1612;
$__green: #28a745;
$__dull-gold: #f4c150;
$dark__blue: #272b41;
$sky__blue: #20c0f3;
$__gray__cloud: #999;
$__dark__gray__cloud: #9f9f9f;
$__steel__blue: #1663a6;
$__granite: #858585;
$__light__granite: #8a8a8a;
$granite__gary: #797979;
$platinum: #f9f9f9;
$__jet__gray: #C0C0C0;
$metallic-silver: #e3e3e3;
$__light__metallic: #dfdfdf;
$__dark-inkblue: #3474ac;
$info__light: #1db9aa;
$primary__light: #2196f3;
$danger__light: #e63c3c;
$warning__light: #f39c12;
$success__light: #26af48;
$purple__light: #c580ff;
$default__light: #283447;
$light__metalic: #e9e9e9;
$__blue__angel: #cfcfcf;
$__Light__blue__angel: #dcddea;
$__grapefruit: #d9534f;
$__light__grapefruit: #d43f3a;
$__mild__grapefruit: #e48784;
$__violet__pink: #ff4877;
$ash__gray: #a0a0a0;
$__dark__ash__gray: #555;
$light__white: #fafafa;
$dark__light: #f5f5f5;
$cloud__gray: #eeeeee;
$__gray__wolf: #3e3e3e;
$wolf: #6c757d;
$light__wolf: #a3a3a3;
$__water: #f5f7fc;
$__lava__red: #dc3545;
$__metalic__gray: #bbb;
$__bright__gold: #f2b600;
$water__white: #fcfcfc;
$light__water__white: #f3f3f3;
$__light__blue__gray: #f5f5f6;
$__baby__blue: #e0e3e4;
$__light__columbia__blue: #d2dde9;
$__light__battle__gary: #aaa;
$dark__battle__gary: #777;
$__royal__blue: #2c80ff;
$__zombie__green: #00d285;
$__dark__marble__blue: #495463;
$__mix__white: #fbfbfb;
$__night: #3d3d3d;
$__dark__cloud: #d4d4d4;
$light__cloud: #e5e5e5;
$__lapis__blue: #3a559f;
$__dark__lava__red: #dd4b39;
$__dark__beige: #b8b8b8;
$__iridium: #676767;
$__light__chilli__pepper: #fc6075;
$successcolor: #7bb13c;
$successcolor-hover: #699834;
$infocolor: #009efb;
$infocolor-hover: #028ee1;
$warningcolor: #ffbc34;
$warningcolor-hover: #e9ab2e;
$dangercolor: #e84646;
$dangercolor-hover: #e63333;
$purplecolor: #9368e9;
$purpletext: #7460ee;
$__cherry__red: #f06060;
$lime__green: #55ce63;
$__aquamarine: #40dda4;
$__spring__green: #2ab934;
$dark__ash: #212529;
$dark__candy: #ababab;
$light__candy: #e6e6e6;
$candycolor: #a6a6a6;
$ligt__carbon: #979797;
$cantaloupe: #ff9b44;
$__dark__plum__purple: #4E4852;
$__turquoise: #0db9f2;
$__beige: #dbdbdb;
$__light__beige: #e4e4e4;
$light__vampire: #f1f1f1;
$cyan__blue: #0dd9f9;
$cyan: #5ae8ff;
$sea__gray: #e2e5e8;
$mild___gray: #eaeaea;
$light__smokey-gray__gray: #737373;
$light__blue__jey: #1b5a90;
$gray__powder: #ebebeb;
$gray__opaque: #e4e8eb;
$dodger__blue: #177dff;
$text-secondary: #b8bdc1;
$ferriari__red: #e0001a;
$sandstone: #bdbdbd;
$frog__blue: #989c9e;
$taupe__black: #4c4c4c;
$windows__blue: #4b75bd;
$tomred: #fe5240;
$saffron: #ffc107;
$yellow: #ffd200;
$light__sage: #f2f2f2;
$cream: #ffffcc;
$alicegray: #f4f4f4;
$plum__gray: #878787;
$midnight__gray: #66676b;
$plum__black: #1f1f1f;
$blue__gray: #f4f4f5;
$fire__red: #f83f37;

.primary {
	background-color:$primarycolor;
}